// these are for elements that we want to be full width on mobile
// but no specific width in larger screens (so the grid system isn't appropriate)
// e.g., a row of buttons

$include-html-classes: false;
@import "foundation/settings", "foundation/components/global";

.expand-for-mobile {
  width: 100%;
}

@media #{$medium-up} {
    .expand-for-mobile {
        width: auto;
    }
}