// set the variables for inline-lists here
// and then import the foundation inline-lists

$include-html-classes: false;
@import "foundation/variables", "foundation/components/global";

$include-html-inline-list-classes: true;
@import "foundation/components/inline-lists";

.stacked {
    margin-bottom: 0;

    h3 {
        font-size: 1em;
        line-height: 1;
    }
}
