@import "foundation/base";

$icon-control-height: 2.2em;

#qrdiv * {
    box-sizing: border-box;
}

#qrform {
    text-align: left;
    padding: 0 1em;
    clear: both;

    .de {
        font-size: small;
    }

    input, button, textarea, select {
        margin-bottom: .2em;
    }

    // Consistent em size, to keep these controls aligned while we scale:
    .qr-icon, .qr-icon-controls * {
        font-size: .85rem;
    }

    // Avoid *dramatic woodchuck* zoom on mobile
    @media (pointer: coarse) {
        .qr-icon, .qr-icon-controls *, textarea, input[type="text"] {
            font-size: 16px;
        }
    }

    .qr-icon {
        // Same height as stacked icon controls
        width: $icon-control-height * 2 + .2em;
        height: $icon-control-height * 2 + .2em;
        float: left;
        margin-right: .2em;
        margin-bottom: .2em;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .qr-icon-controls {
        display: flex;
        flex-wrap: wrap;

        & > * {
            height: $icon-control-height;
            margin-bottom: .2em;
        }

        select#prop_picture_keyword {
            width: 100%;
        }
    }

    .qr-body * {
        width: 100%;
    }

    .qr-footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    span#quotebuttonspan {
        // This only exists to get something appended to it by jQuery. Its child
        // input is the real flex item.
        display: contents;

        // Separate the "submit" buttons from the "misc" ones, if there's space.
        // Quote is the first "misc" button.
        input {
            margin-left: auto;
        }
    }

    textarea, select, input[type="text"] {
        margin-right: 0; // Fix for site scheme.
        &:hover {
            // Fix for site scheme. Too distracting.
            -moz-box-shadow: inherit;
            -webkit-box-shadow: inherit;
            box-shadow: inherit;
        }
    }

    .invisible {
        // Fix for site scheme; a ".comment .invisible" rule was setting position: relative.
        position: absolute;
    }
}

// When we're down to ~two buttons per row, avoid messy clumping:
@media #{$small-only} {
    .qr-footer > *, #quotebuttonspan input {
        flex-grow: 1;
    }
}

@media #{$medium-up} {
    #qrform {
        padding: 0 1em;
        max-width: 45rem;
    }
}
