@import "foundation/base";

$meta-input-height: 2.2em;

#qrdiv * {
    box-sizing: border-box;
}

#qrform {
    text-align: left;
    margin: 0 auto;
    padding: 0 1em;
    clear: both;

    // Consistent initial font size for every descendent, so we can use ems
    // for reliable relative sizing later.
    * {
        font-size: 13px;
        @media (pointer: coarse) {
            // Appease mobile Webkit so it won't *dramatic woodchuck* zoom on
            // input focus. Minimum font-size to Not Do That: 16px.
            font-size: 16px;
        }
    }

    .de {
        font-size: small;
    }

    input, button, textarea, select {
        margin-bottom: .2em;
    }

    .qr-icon {
        // Same height as qr-meta's stacked select and input
        width: $meta-input-height * 2 + .2em;
        height: $meta-input-height * 2 + .2em;
        float: left;
        position: relative;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    #lj_userpicselect {
        width: 100%;
        height: 100%;
        border: none;
        padding: 0;
        margin: 0;
        background: none;
        @include single_transition();

        &:hover, &:focus {
            // grow down and to the left
            -webkit-transform: scale(1.1, 1.1) translate(-1px, 3px);
            -moz-transform: scale(1.1, 1.1) translate(-1px, 3px);
            -o-transform: scale(1.1, 1.1) translate(-1px, 3px);
            -ms-transform: scale(1.1, 1.1) translate(-1px, 3px);
            transform: scale(1.1, 1.1) translate(-1px, 3px);

            &:after {
                content: "Browse";
                display: block;
                position: absolute;
                top: 0;
                margin: 0 auto;
                font-weight: bold;
                line-height: 60px;
                color: #000;
                background-color: #fff;
                text-align: center;
                width: 100%;
                height: 100%;
                opacity: .7;
            }
        }
    }

    .qr-meta {
        margin-left: $meta-input-height * 2 + .5em; // width of .qr-icon + .3em

        display: -webkit-flex;
        -webkit-flex-direction: row;
        -webkit-flex-wrap: wrap;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        & > * {
            height: $meta-input-height;

            -webkit-flex-grow: 1;
            -webkit-flex-shrink: 1;

            flex-grow: 1;
            flex-shrink: 1;
        }
    }

    .qr-footer {
        display: -webkit-flex;
        -webkit-flex-direction: row;
        -webkit-flex-wrap: wrap;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    span#quotebuttonspan {
        // This only exists to get something appended to it by jQuery. Its child
        // input is the real flex item.
        display: contents;

        // Separate the "submit" buttons from the "misc" ones, if there's space.
        // Quote is the first "misc" button.
        input {
            margin-left: auto;
        }
    }

    select, input[type="text"]  {
        max-width: 100%;
        flex-basis: 20%;
    }

    textarea, select, input[type="text"] {
        margin-right: 0; // Fix for site scheme.
    }

    textarea#body {
        width: 100%;
    }

    select, input, textarea {
        padding: .15em;
    }

    .invisible {
        // Fix for site scheme; a ".comment .invisible" rule was setting position: relative.
        position: absolute;
    }
}

// When we're down to ~two buttons per row, avoid messy clumping:
@media #{$small-only} {
    .qr-footer > *, #quotebuttonspan input {
        flex-grow: 1;
    }
}

@media #{$medium-up} {
    #qrform {
        .qr-meta, .qr-body, .qr-footer {
            margin-left: $meta-input-height * 2 + .5em; // width of .qr-icon + .3em
            max-width: 38rem;
        }

        select, input, textarea {
            padding: .3em;
        }
    }
}
