@import "foundation/base";
#qrdiv * {
    box-sizing: border-box;
}

#qrform {
    text-align: left;
    margin: 0 auto;
    padding: 0 1em;

    .de {
        font-size: small;
    }

    input, button, textarea, select {
        margin-bottom: .2em;
    }

    .qr-icon {
        width: 50px;
        height: 50px;
        float: left;
        position: relative;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    #lj_userpicselect {
        width: 100%;
        height: 100%;
        border: none;
        padding: 0;
        margin: 0;
        background: none;
        @include single_transition();

        &:hover, &:focus {
            // grow down and to the left
            -webkit-transform: scale(1.1, 1.1) translate(-1px, 3px);
            -moz-transform: scale(1.1, 1.1) translate(-1px, 3px);
            -o-transform: scale(1.1, 1.1) translate(-1px, 3px);
            -ms-transform: scale(1.1, 1.1) translate(-1px, 3px);
            transform: scale(1.1, 1.1) translate(-1px, 3px);

            &:after {
                content: "Browse";
                display: block;
                position: absolute;
                top: 0;
                margin: 0 auto;
                font-weight: bold;
                line-height: 60px;
                color: #000;
                background-color: #fff;
                text-align: center;
                width: 100%;
                height: 100%;
                opacity: .7;
            }
        }
    }

    .qr-meta {
        margin-left: 55px;
        display: -webkit-flex;
        -webkit-flex-direction: row;
        -webkit-flex-wrap: wrap;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        &>* {
            -webkit-flex-grow: 1;
            -webkit-flex-shrink: 1;

            flex-grow: 1;
            flex-shrink: 1;
        }
    }

    .qr-footer {
        display: -webkit-flex;
        -webkit-flex-direction: row;
        -webkit-flex-wrap: wrap;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    span#quotebuttonspan {
        // This only exists to get something appended to it by jQuery. Its child
        // input is the real flex item.
        display: contents;

        // Separate the "submit" buttons from the "misc" ones, if there's space.
        // Quote is the first "misc" button.
        input {
            margin-left: auto;
        }
    }

    textarea, select, input[type="text"] {
        max-width: 100%;
        flex-basis: 20%;
    }

    textarea#body {
        width: 100%;
    }

    select, input, textarea {
        padding: .25em;
    }
}
@media only screen and (min-width: 40em) {

    #qrform {
        .qr-meta, .qr-body, .qr-footer {
            margin-left: 55px;
            max-width: 38rem;
        }

        select, input, textarea {
            padding: .5em;
        }
    }
}
