/* "Select all" checkboxes
 */

@import "mixins/screenreader-friendly";

.select-all {
    th[scope="row"] {
        text-align: right;
        font-size: smaller;
        font-weight: normal;
    }

    th {
        vertical-align: top;

        label, input {
            margin: 0;
        }

        label {
            @extend %screenreader-friendly;
        }
    }
}
