// set the variables for tables here
// and then import the foundation tables

$include-html-classes: false;
@import "foundation/variables", "foundation/components/global";

$include-html-table-classes: true;
@import "foundation/components/tables";

th[scope="row"] {
    text-align: left;
}

table ul {
    // so that the bullet points don't spill out of the table cell
    // `list-style-position: inside` causes issues in chrome
    //      the table cell is too narrow (possibly same width allocated as
    //      if it was list-style-position: outside)
    margin-left: 1em;
}
