// set the variables for tables here
// and then import the foundation tables

$include-html-classes: false;
@import "foundation/variables", "foundation/components/global";

$include-html-table-classes: true;
@import "foundation/components/tables";

th[scope="row"] {
    text-align: left;
}

table ul {
    list-style-position: inside;
}
