[%# Dreamwidth-specific verison of the celerity site skin

Authors:
    Andrea Nall <anall@andreanall.com>

Copyright (c) 2015 by Dreamwidth Studios, LLC.

This program is NOT free software or open-source; you can use it as an
example of how to implement your own site-specific extensions to the
Dreamwidth Studios open-source code, but you cannot use it on your site
or redistribute it, with or without modifications.
%]
[%- PROCESS '_dreamwidth.tt' logo_path_part='celerity' -%]
