[%#

Choose a signed-in account for one comment

Authors:
    Mark Smith <mark@dreamwidth.org>

Copyright (c) 2026 by Dreamwidth Studios, LLC.

This program is free software; you may redistribute it and/or modify it under
the same terms as Perl itself.  For a copy of the license, please reference
'perldoc perlartistic' or 'perldoc perlgpl'.
%]

<div class="from-option">
  <input type="radio" name="usertype" value="stored" id="talkpostfromstored"
    data-more="from-stored-more" [% IF default_usertype == 'stored' || default_usertype == 'user' %]checked="checked"[% END %] />
  <label for="talkpostfromstored">Post as another signed-in account</label>
</div>
<div class="from-login" id="from-stored-more">
  <label for="posting_userid">Post as</label>
  <select class="comment-account-select" data-accounts-url="[% site.root %]/rpc/comment-accounts" name="posting_userid" id="posting_userid" data-active="[% remote.id %]">
    <option value="">Choose an account</option>
    [% FOREACH account IN posting_accounts %]
    <option value="[% account.userid %]" [% IF comment.posting_userid == account.userid %]selected="selected"[% END %]>[% account.user | html %]</option>
    [% END %]
  </select>
  [% IF remote %]<p>Your browsing account will stay the same.</p>[% END %]
</div>
<p><a class="comment-add-account" href="[% site.root %]/login?store_only=1" target="_blank" rel="noopener">Sign in to another account</a></p>
<p class="comment-login-help">On a preview page, sign-in opens a new tab. Preview again afterward to refresh the account list.</p>
<noscript><p>Sign in in the new tab, then preview this comment to refresh the account list. Your draft stays here.</p></noscript>
