_build
/docs
/logs
/temp
/extlib
/ext/dw-private
/ext/local
/ext/ruby
/ext/yuicompressor
/etc/config*.pl
/build
/locks
/var
*.sw?
src/proxy/proxy
.vscode
.vstags
.perl-cpm

# Ignore node_modules, wherever they occur
/**/node_modules/

# Ignore SCSS cache
.sass-cache
# Ignore compiled CSS
htdocs/stc/css
ext/dw-nonfree/htdocs/stc/css

# Ignore test stuff
t-theschwartz.sqlite

# No tidying
.tidyall.d/

# Worktrees
.worktrees/
.claude/worktrees/

# LJ::UserSearch XS build outputs + install location (built into the worker
# image; should never be committed even if a developer builds locally).
/cgi-bin/*-linux-*-thread-multi/
/src/LJ-UserSearch/Makefile
/src/LJ-UserSearch/MYMETA.*
/src/LJ-UserSearch/blib/
/src/LJ-UserSearch/pm_to_blib
/src/LJ-UserSearch/*.o
/src/LJ-UserSearch/*.bs
/src/LJ-UserSearch/UserSearch.c
/src/LJ-UserSearch/const-c.inc
/src/LJ-UserSearch/const-xs.inc
/src/LJ-UserSearch/man/
