/logs
/temp
/extlib
/ext
/etc/config*.pl
/build
/locks
/var
*.sw?
src/proxy/proxy

# Ignore SCSS cache
.sass-cache
# Ignore compiled CSS
htdocs/stc/css

# Ignore test stuff
t-theschwartz.sqlite

# No tidying
.tidyall.d/
