@mixin header-nav( $nav-orientation: vertical, $side: left, $header-height: 7em, $accountlinks-offset: 0, $search-offset: 0 ) {
    #account-links {
        position: absolute;
        top: $accountlinks-offset + 1em;

        white-space: nowrap;

        #account-links-text, .account-links-in-header, #nav-login-form {
            float: $side;
        }

        ul {
            float: $side;
            clear: both;
            margin: 0;
        }

        li {
            list-style: none;
            float: left;
            margin: 0 .5em;

            &:after {
                content: "•";
                margin-left: .5em;
            }
            &:last-child:after {
                content: "";
                margin-left: 0;
            }
        }

        .ljuser {
            font-size: 1.5em;
            line-height: 1;
        }

        .ljuser img {
            vertical-align: middle !important;
        }

        form {
            margin-bottom: 0;
        }

         label.inline {
            text-align: right;
        }
    }

    #account-links-userpic {
        max-height: 7em;
        float: $side;
        @if $side == left {
            margin-right: 1em;
        } @else {
            margin-left: 1em;
        }
    }

    #account-links-text {
        text-align: $side;
    }

    #nav-login-form, #account-links-text {
        font-size: emCalc(14px);
    }

    #nav-login-form {
        line-height: 1;

        label, input {
            margin-bottom: 0.5em;
        }

        a {
            line-height: 2em;
        }
    }

    #masthead {
        height: $header-height;
    }

    #logo {
        line-height: $header-height - $base-line-height;
    }

    .nav-search {
        input, select {
            display: inline-block;
        }
    }

    #header-search {
        position: absolute;
        top: $header-height + $search-offset;
        right: 0;

        ul {
            list-style: none;
        }

        input {
            margin: 0;
        }
    }

    /**
     * #content
     */
    #content {
        margin-top: $header-height + $search-offset + 2 * $base-line-height !important;
    }

    .main-nav {
        .has-dropdown a {
            text-decoration: none;
        }
    }

    @if $nav-orientation == vertical {
    } @else {
        .main-nav {
            position: absolute;
            top: $header-height;
            left: 0;
            right: 0;
        }
    }
}
