/**
* CSS colors site-wide
* Set the color variables in the scheme-specific CSS file
* THen include this
*/

/**
 * Links and a pseudo link class
 */

a:visited {
    color: $anchor-font-color-visited;
}
a:hover, a:active {
    color: $anchor-font-color-hover;
}

/**
 * Menu navigation
 */

nav {
    background-color: $nav-bg;
}

/* TODO: fix top nav imagery */
nav .topnav a {
    // background: transparent url(/img/tropo-red/icon_menu_swirl.png) 0.833333em 0.916667em no-repeat;
    color: #111;
}
/* .hover is a class added by js for the currently hovered/focused menu */
nav .hover a {
    // background: $muted-primary-color url(/img/tropo-red/icon_menu_swirl_dropdown.png) 0.833333em 0.916667em no-repeat;
    color: #fff;
}
nav .hover a:hover {
    background-color: $primary-color;
}
nav .hover ul {
    background-color: $secondary-color;
}
