/**
* CSS colors site-wide
* Set the color variables in the scheme-specific CSS file
* THen include this
*/

/**
 * Global
 */
body {
    background-color: $page-background;
    color: $text-color;
}

/**
 * Links and a pseudo link class
 */

a:link,
.link {
    color: $link-color;
}
a:visited {
    color: $link-visited-color;
}
a:hover,
a:active,
.link:hover {
    color: $link-hover-color;
}
#canvas {
    background-color: $page-background;
    border-color: $primary-color;
}

/**
 * Menu navigation
 */

nav {
    background-color: $muted-primary-color;
}

/* TODO: fix top nav imagery */
nav .topnav a {
    // background: transparent url(/img/tropo-red/icon_menu_swirl.png) 0.833333em 0.916667em no-repeat;
    color: #111;
}
/* .hover is a class added by js for the currently hovered/focused menu */
nav .hover a {
    // background: $muted-primary-color url(/img/tropo-red/icon_menu_swirl_dropdown.png) 0.833333em 0.916667em no-repeat;
    color: #fff;
}
nav .hover a:hover {
    background-color: $primary-color;
}
nav .hover ul {
    background-color: $muted-primary-color;
}

/**
 * #content houses the page-specific innards
 */

#content h1 {
    color: $primary-color;
}
#content h2 {
    color: $primary-color;
}

/* generic classes */

.disabled {
    color: #999 !important;
    background-color: #ddd !important;
    border-color: #ccc !important;
}
.read, .inactive {
    color: #888;
}
.read:hover {
    color: #000;
}
.read a, .inactive a {
    color: #999 !important;
}
.read:hover a {
    color: inherit !important;
}

.detail {
    color: #555;
}
.status-hint {
    color: #ccc;
}

.tablist .tab a {
    color: #000;
    background: $muted-primary-color;
    border-color: $primary-color;
}
.tablist .tab a:hover, .tablist .tab a.active {
    background: $light-primary-color;
}

.tab-header {
    background: $light-primary-color;
    border-color: $light-primary-color;
}
.tab-container {
  background-color: #fff;
  border: 1px solid $primary-color;
  border-top: none;
}

.action-bar {
    text-align: center;
    background-color: $light-primary-color;
}
.action-box ul {
    color: #111;
    background-color: $muted-light-primary-color;
    border: 1px solid $primary-color;
}

.action-box .inner, .comment-page-list {
    color: #111;
    background-color: $muted-light-primary-color;
    border: 1px solid $primary-color;
}

.select-list input {
    color: #fff;
    background: $muted-primary-color;
    border: 2px solid #f6828b;
    border-bottom: 2px solid $primary-color;
    border-right: 2px solid $primary-color;
}
.select-list input:active {
    color: #eee;
    background: lighten( $muted-primary-color, 5%);
    border: 2px solid $primary-color;
    border-bottom: 2px solid $muted-light-primary-color;
    border-right: 2px solid $muted-light-primary-color;
}

.highlight-box {
    border: 1px solid;
}
.highlight, .highlight-box {
    border-color: $primary-color;
    background-color: $light-primary-color;
    color: #000;
}
.searchhighlight {
    background: $light-primary-color;
    color: #000;
    padding: 0.2em;
    font-weight: bold;
}
.inset-box {
    background-color: #fff;
    border-right: 1px solid $muted-primary-color;
    border-bottom: 1px solid $muted-primary-color;
    color: #777;
    padding: 3px 5px;
}
.warning-box {
    border: 1px solid $primary-color;
    background-color: $light-primary-color;
    color: #000;
}
.error-box {
    color: #000;
    background-color: $light-alternate;
    border: 1px solid $muted-light-alternate;
}

.odd, tr.odd th, tr.odd td {
    background-color: #f7f7f7;
}
.even, tr.even th, tr.even td,
thead th, tfoot td {
    background-color: #efefef;
}
.column-table tbody th {
    color: #777;
    background-color: #fbfbfb;
    border-right: 1px solid #cdcdcd;
}
table caption {
    color: $primary-color;
}

table.grid, table.grid td {
    border: 1px solid #999;
}

.select-list li, .NotificationTable td {
    border-color: #ccc;
}
.select-list li img {
    border-color: $primary-color;
}
.selected, .select-list li.selected, tr.selected td {
    background-color: $light-primary-color;
    border-color: $primary-color;
}

form, fieldset, legend, legend span {
    border-color: $primary-color;
}

.simple-form .error input, form .error input {
    border: 3px solid $error-color;
}
.simple-form .error .error-msg, form .error .error-msg {
    color: $error-color;
    display: block;
}
.hint-input {
    color: #777;
    border: 1px solid #ccc;
}
.hint-input:focus {
    color: #000;
    border: 1px solid #999;
}
.multiple-select {
    background-color: #eee;
}

.table-form table {
  background-color: #F7F7F7;
}

.section-nav {
    background-color: $light-primary-color;
}
.section-nav li a, .section-nav ul, .section-nav li, .section-nav-separator {
    border-color: $primary-color;
}
.section-nav-content {
    border-color: $primary-color;
}
.section-nav li.on {
    background-color: #f7f7f7;
}
.section-nav li a:visited {
    color: $primary-color;
}
.section-nav-inner-wrapper {
    background: url("/img/tropo-red/tropred-borderpixel.gif") repeat-y scroll 134px 50%;
}

.collapsible .collapse-button {
    width: 20px;
}
.collapsible.collapsed .collapse-button {
    background-image: url("/img/tropo-red/tropred-arrow-right.gif");
}
.collapsible.expanded .collapse-button {
    background-image: url("/img/tropo-red/tropred-arrow-down.gif");
}

.header {
    background: #ddd;
}

.subheader {
    background-color: $light-primary-color;
    border-bottom: 1px solid $primary-color;
}

.preview-image {
     border: 1px solid #fff;
}

/* post page */
.token:hover, .token.hover, .token:focus, .token.focus {
    color: $primary-color;
    border-color: $muted-dark-primary-color;
}

.token .token_remove:hover, .token .token_remove:focus {
     color: $primary-color;
     background-color: $light-primary-color;
}
#iconselector_icons_list li:hover, .kwmenu .selected, #iconselector_icons_list .iconselector_selected {
    border-color: $primary-color;
}
.slidecontrols a:hover {
    color: $muted2-dark-primary-color;
}

.ui-widget-header, a.component-header-hover {
    color: $primary-color;
}

/* contextualhover.css */
div.ContextualPopup div.Inner {
    background-color: #fff !important;
    color: #000 !important;
    border: 1px solid $primary-color;
}
div.ContextualPopup div.Inner a, div.ContextualPopup div.Inner a:visited {
    color: $primary-color !important;
}

.ippu {
    color: #000;
}
.ippu .track_title {
    color: $muted-primary-color;
}

/**
 * Temporary page-specific styling
 * /

/* Comments */

.talkform .disabled {
    background: transparent !important;
}

/*S2 talkpage*/
.comment .link, .entry .link {color: #111;} /*resets color so :before and :after elements don't get the anchor color*/

.comment-depth-odd > .dwexpcomment .header {
    border-bottom: 1px solid $primary-color;
    border-right: 1px solid $primary-color;
    background-color: #c0c0c0;
}
.comment-depth-even > .dwexpcomment .header {
    border-bottom: 1px solid $muted-primary-color;
    border-right: 1px solid $muted-primary-color;
    background-color: #e2e2e2;
}

.screened .header{ background-color: $neutral-primary-color !important;}

/*bml talkpage*/


.talkform .disabled {
    background: transparent !important;
}

.cmtbar.odd {
    border-bottom: 1px solid $primary-color;
    border-right: 1px solid $primary-color;
}
.cmtbar.even {
    border-bottom: 1px solid $muted-primary-color;
    border-right: 1px solid $muted-primary-color;
}
td.odd { background-color: #c0c0c0; }
td.even { background-color: #e2e2e2; }
td.screened { background-color: $neutral-primary-color !important;}

/* inbox */
.folders a {
    color: #000;
    border: 1px solid #fff;
}
.folders a.selected {
    background: $light-primary-color;
    border-color: #bbb;
}
.folders a:hover {
    border-color: #bbb;
    background: #eee;
}

/* profile.css */
.section, .actions li {
    background-color: #f7f7f7;
    border-bottom: 1px dotted #666;
    border-left: 1px dotted #666;
    color: $primary-color;
}
.section span.section_link {
    color: #000;
}
.section_body .inner_section_header {
    color: #111;
}
.section_body_title {
    color: #111;
}
.profile th {
    color: #111;
}

/* lj_settings.css */
.section_head, div.username {
    background-color: $muted-neutral-primary-color;
    color: #333;
    border-bottom: 1px solid $primary-color;
}
.field_block .field_name {
    color: #333;
    background-color: #eee;
}

/* esn.css */
.CategoryRow td {
    border-bottom: 1px solid #ddd;
}

/* community/settings */
.community-settings legend {
    color: $primary-color;
    }

/* Shop pages */
.shop-item-highlight {
    border: 1px solid $primary-color;
}

/* entry.css */
a#lj_userpicselect {color: $primary-color;}
#lj_userpicselect_img {border: 1px solid #fff;}
#lj_userpicselect_img:hover {border: 1px solid $primary-color;}
#lj_userpicselect_img_txt {color: $primary-color !important;}
#userpic_preview_image.userpic_loggedout {border: 1px solid $primary-color;}
.userpic_preview_border {border: 1px solid #ccc;}
#infobox {border-left: 1px solid #000;}
#compose-entry {border-bottom: 1px solid #bbb;}
#compose-entry ul li a {background-color: #fff;border: 1px solid $muted-primary-color;border-bottom: none;}
#compose-entry ul li.on a {border-bottom: 1px solid #fff;}
#draft-container {border: 1px solid #bbb;border-top: none;}
#draftstatus {background-color: #fff;}
#spellcheck-results {border: 1px solid $muted-primary-color; background-color: #fff;}
#htmltools {border-right: 1px solid #bbb;border-left: 1px solid #bbb;background: #fff;}
#htmltools ul {border-bottom: 1px solid #8d8d8d;}
#options, #public {border: 1px solid #bbb;background-color: #eee;}
#public {color:#666;}
#submitbar {background-color: #ddd;border: 1px solid #aaa;}

/* create flow */
.appwidget-createaccountprogressmeter .step-block-active { color: #fff; background-color: $primary-color; }
.appwidget-createaccountprogressmeter .step-block-inactive { color: #fff; background-color: $muted-primary-color; }
.appwidget-createaccountprogressmeter .step-selected, .appwidget-createaccountprofile .header { color: $primary-color; }
.appwidget-createaccountprogressmeter .step-previous { color: $muted-primary-color; }
.appwidget-createaccountprogressmeter .step-next { color: #666; }
.appwidget-createaccountprofile .field-name { background-color: #e0e0e0; }

/* Profile */
.username {
    border-bottom: 1px solid $opposite-color;
    background-color: $light-opposite-color;
}

/* lj_base-app.css */
hr.hr {
    color: $primary-color;
    background-color: $primary-color;
}
input.text,
textarea.text,
select.select,
.autocomplete_container {
    background: #fff url("/img/input-bg.gif") repeat-x 0 -1px;
    border: 1px solid #bbb;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
}
.appwidget .more-link {
    color: #c1272d !important;
    background: url('/img/arrow-double-black.gif') no-repeat 0 60%;
}
.arrow-link,
.more-link {
    background: url('/img/arrow-double-black.gif') no-repeat 0 50%;
}
.message {
    border: 5px solid #eee;
}
.message blockquote {
    border: 1px solid #aaa;
}
.helper {
    color: #666;
}

/* Quick Reply table */

#qrformdiv table {
    border: 1px solid #999;
}
