/**
* Site-wide skin-specific CSS colors
* Set the color variables in the scheme-specific CSS file
* Then @import _skin_colors.scss
*
* Only use mixins (@include), or variables
* so that we pick up the colors / settings from the site skin
* rather than hardcoding random colors here
*/

/**
 * Links and a pseudo link class
 */

a:visited {
    color: $anchor-font-color-visited;
}
a:hover, a:active {
    color: $anchor-font-color-hover;
}

/**
 * Menu navigation
 */

nav {
    background-color: $topbar-bg;
}

/**
 * Form elements
 */

select {
    @include form-element;
}

.submit {
    @extend .button;
 }