### begin config section #####################################################

# basic setup information.  we run on a different port because this
# SSH daemon's only job is to let our lj management user through.
Port 222

# important: only allow us in.  set this to the username that you want to
# allow into the system.  see the documentation for more setup information.
AllowUsers ljmgmt

### end config section #######################################################

# only allow sshv2
Protocol 2

# do not allow root to log in (they shouldn't be able to due to AllowUsers
# above, but just to be extra paranoid...)
PermitRootLogin no

# must use SSH keys to login to this daemon
PasswordAuthentication no

# be very silent (should also touch .hushlogin in the ljmgmt home directory)
PrintMotd no

# required for our authorized_keys file to work
PermitUserEnvironment yes
