.appwidget-createaccountprogressmeter td {
    padding-right: 20px;
}

.appwidget-createaccountprogressmeter .step-selected .step-block-text {
    font-weight: bold;
}

.appwidget-createaccountprogressmeter .step-block-active,
.appwidget-createaccountprogressmeter .step-block-inactive {
    display: block;
    padding: 0;
    width: 16px;
    text-align: center;
    float: left;
}

.appwidget-createaccountprogressmeter .step-block-text {
    float: left;
    margin-left: 5px;
}
