/* Relative container allows a parent container to something which
   needs absolute positioning around it */
#relative-container {
   position: relative;
   width: 100%;
}

#tips-box-container {
   position: absolute;
   left: 34em;
   right: 0px;
   top: 0px;
}

div.error-list ol, div.error-list li {
    list-style-type: decimal;
}

ol.error-list{
    margin-left: 2em;
}

.errors-present {
    font-weight: bold;
    color: #f00;
}

.appwidget-createaccount .field-name {
    text-align: right;
    width: 125px;
    vertical-align: top;
}

.appwidget-createaccount .field-desc {
    color: #666;
    margin-bottom: 0;
}

.appwidget-createaccount .tos-blurb {
    margin-bottom: 0;
}

.appwidget-createaccount #tips_box_arrow {
    display: none;
    position: absolute;
    background: url(/img/create/tip-arrow.png) no-repeat;
    width: 12px;
    height: 19px;
    z-index: 100;
    left: 14px;
    top: 1ex;
}

.appwidget-createaccount #tips_box {
    display: none;
    position: absolute;
    color: #000;
    background-color: #fcf6db;
    border: 1px solid #ffdfc0;
    padding: 5px;
    margin-right: 1px;
    left: 25px;
    right: 0px;
}

.appwidget-createaccount .create-button {
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    margin-top: 2ex;
}

.appwidget-createaccount #username_check,
.appwidget-createaccount #username_error {
    display: none;
}

span.appwidget-createaccount #username_check,
span.appwidget-createaccount #username_error {
    display: block;
    width: 330px;
}

#username_check {
    margin-right: -12px;
}

.appwidget-createaccount #username_error_inner {
    font-weight: bold;
}

div#create-form {
    max-width: 66%;
}

.news-container{
    padding-top: 1ex;
    padding-bottom: 1ex;
}

li.wide > label{
    width: inherit;
    float: none;
}

.appwidget-createaccount .simple-form fieldset ul {
    padding-top: 0;
}
