.appwidget-createaccountprofile {
    margin-bottom: 10px !important;
}

.appwidget-createaccountprofile h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 5px;
}

.appwidget-createaccountprofile .appwidget-location {
    margin: 0;
    padding: 0;
}

form.simple-form label.tall{
    padding-bottom: 4.5ex;
}

form.simple-form > input{
    float:left;
    clear:left;
}

.simple-form .appwidget-createaccountprofile fieldset ul {
    padding-top: 0;
}

.simple-form .appwidget-createaccountinviter label {
    float: none;
}
