.appwidget-createaccountnextsteps h2 {
    color: #213368;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 5px;
}

.appwidget-createaccountnextsteps .intro {
    margin-bottom: 10px;
}

.appwidget-createaccountnextsteps table {
    width: 100%;
}

.appwidget-createaccountnextsteps td {
    width: 50%;
}

.appwidget-createaccountnextsteps ul li {
    margin-bottom: 5px;
}
