.theme-current-content p, .theme-current-links {
   font-size: smaller;
}
/*
.theme-current-content h3 {
    font-size: 14px;
    font-style: normal;
    margin: 0;
    padding: 0;
}
.theme-current-image {
    float: left;
    margin-right: 8px;
    width: 120px;
    height: 91px;
}
.theme-current-desc {
    font-size: 11px;
    margin: 0 0 5px 0;
    padding: 0;
}
.theme-current-links {
    font-size: 11px;
    float: left;
}
.theme-current ul {
    margin-top: 3px;
}
*/

/* temporary fix while the widget appears in both Foundation and old contexts */
.medium-6 {
    width: 49%;
    display: inline-block;
}

.theme-current-content h3 {
    margin:0;
    padding: 0;
}

.theme-current-content ul {
    list-style: none;
    margin: 0;
}
.theme-current-content ul li {
    padding: 0 0 0 8px;
    margin-left: 0px;
    margin-bottom: 2px;
    font-size: small;
    background: url("/img/customize/arrow.gif") no-repeat 0 5px;
}

.theme-preview {
    text-align: center;
    vertical-align: top;
}