
.theme-current-content {
    padding: 0 8px 8px 8px;
}


.theme-current .highlight-box > .inner {
    padding: 1em;
}
.theme-current-image {
    width: 120px;
    height: 91px;
    border: 1px solid;
}
.theme-current-desc {
    font-size: 0.75em;
    margin: 0 0 5px 0;
    padding: 0;
}
.theme-current-links {
    font-size: 0.75em;
}
.theme-current ul {
    margin-top: 3px;
}

#content .theme-current ul li {
    margin-bottom: 2px;
    font-size: 0.75em;
}
