
.customize-wrapper h2 {
    position: relative;
}
.customize-wrapper h2 span {
    right: 8px;
    top: 0;
    font-size: 11px;
    font-weight: normal;
    font-family: verdana;
    vertical-align: baseline;
}
.customize-content {
    position: relative;
    border-width: 1px;
    border-style: solid;
}

.prop-row {
    padding: 0.5em 0;
}
.prop-row input, .prop-row select {
    margin-bottom: 0px;
}

.prop-row .prop-grouped input,
.prop-row .prop-grouped select {
    margin-bottom: 0px;
    width: auto;
    display: inline;
}

.prop-row .prop-grouped label {
    display: inline;
}

.prop-row .prop-grouped select {
    padding-right: 1.5em;
}

.customize-content h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    text-align: middle;
}

.prop-row .prop-color input {
    display: inline;
    width: auto;
}

.prop-note {
    color: #666;
    font-size: smaller;
}

.prop-viewslist label {
    float: none; 
}

.prop-viewslist label.prop-header {
    float: none;
    display: block;
    width: auto;
}

.prop-moduleopts {
    margin-left: 10em;
    margin-top: 0.5em;
    margin-bottom: 0em;
}

.customize-subheader-row .fi-icon::before {
    padding: 10px;
}

.customize-content .customize-subheader-row {
    padding-left: 10px;
}

.prop-section {
    margin-bottom: 1em;
}

.customize-buttons {
    text-align: center;
}