.customize-button {    
    font-size: 11px;
}
.customize-buttons {
    text-align: right;
    margin-top: 10px;
}

.customize-wrapper h2 {
    position: relative;
}
.customize-wrapper h2 span {
    right: 8px;
    top: 0;
    font-size: 11px;
    font-weight: normal;
    font-family: verdana;
    vertical-align: baseline;
}
.customize-content {
    padding: 0 15px 25px 15px;
    margin: 0 0 15px 134px;
    position: relative;
    border-left: none; 
    zoom: 1;

}
.customize-content .subheader {
    font-size: 13px;
    font-weight: bold;
    padding: 5px 0 5px 25px;
    display: inline-block;
}
.customize-content .subheader[class] {
    display: block;
}
.customize-content fieldset {
    border-bottom: 0px none;
    border-left: 0px none;
    border-right: 0px none;
    margin: 15px 0 5px 0;
}

.customize-content fieldset legend {
    font-size: 22px;
    font-style: normal;
    margin: 0;
    padding: 0 7px 0 6px;
}
.customize-content fieldset legend span {
    font-size: 11px;
    padding: 0 0 8px 0;
    vertical-align: middle;
}

.customize-content h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    text-align: middle;
}

.customize-nav {
    float: left;
    width: 135px;
}
.customize-nav li a {
    text-decoration: none;
    display: block;
    padding: 3px 6px;
}
.customize-nav li a:hover {
    text-decoration: underline;
}
.customize-nav li ul {
    list-style-type: none;
    padding-left: 20px;
    margin: 0;
}
.customize-nav li li {
    padding: 3px 0;
    margin: 0;
    font-size: 11px;
}
.customize-nav li.on a,
.customize-nav li.on ul {
    border-right: none;
    font-weight: bold;
}
.customize-nav li.heading a {
    border-bottom: none;
}

.customize-nav li.on li a {
    font-weight: normal;
    border: none;
}

.customize-nav li.on ul {
    font-weight: normal;
    border-top: none;
}
.customize-nav li.on li {
    width: 113px;
}


* html .customize-nav li a {
    display: inline-block;
    width: 122px;
}
* html .customize-nav li li a {
    width: 98px;
}

* html .customize-nav li.on li {
    width: 112px;
}
