.appwidget-gettingstarted {
    margin-top: 10px;
    background-color: #C5DFF9;
    border: 1px solid #8FC3F7;
    padding: 5px 10px 28px 10px;
    width: 278px;
    position: relative;
}
* html .appwidget-gettingstarted {
    padding: 5px 10px 0px !important;
}
*:first-child+html .appwidget-gettingstarted {
    padding: 5px 10px 0px !important;
}
.getting-started-items {
    clear: left;
}
.appwidget-gettingstarted h2 {
    font-size: 110%;
    font-weight: bold;
    color: #000;
}
.appwidget-gettingstarted .helplink {
    position: absolute;
    right: 10px;
    top: 10px;
}
.getting-started-items p {
    padding: 0 10px;
}
.account-controls {
    float: left;
    clear: left;
    margin-top: 4px;
    font-size: 11px;
}
.account-controls-manage {
    float: right;
    margin-top: 4px;
    font-size: 11px;
}
