.layout-content .layout-item {
    text-align: center;
    position: relative;
    width: 156px;
}
.layout-item img.layout-preview {
    border: 1px solid #fff;
    width: 150px;
    height: 114px;
}
