.appwidget-linkslist .tips-box {
    color: #000;
    background-color: #c5dff9;
    border: 1px solid #8fc3f7;
    padding: 3px;
    margin-top: 5px;
}

.appwidget-linkslist .tips-header {
    font-size: 11px;
}
