.appwidget-linkslist .tips-box {
    color: #000;
    background-color: #c5dff9;
    border: 1px solid #c1272d;
    padding: 3px;
    margin-top: 5px;
}

.appwidget-linkslist .tips-header {
    font-size: 11px;
}
