.moodtheme-links {
    margin-top: 10px !important;
}
.moodtheme-links li {
    padding-left: 12px;
}
div.moodtheme-preview .highlight-box {
    padding: 5px;
    margin-left: 20px;
    width: auto;
    text-align: center
}

.moodtheme-mood, .moodtheme-view-link {
    margin: 0.2em 0.5em;
    text-align: center;
    display: inline-block;
}

.moodtheme-mood p {
    text-align: center;
    margin-bottom: 0.2em;
}

.moodtheme-description {
    clear: left;
}

.moodtheme-description p {
    text-align: left;
    margin: 0.2em 0.5em;
}
