.appwidget-moodthemechooser fieldset {
    width: 100%;
    float: right;
}
.appwidget-moodthemechooser[class] fieldset {
    width: auto;
    float: none;
}
.appwidget-moodthemechooser .detail {
    float: left;
}
.appwidget-moodthemechooser .detail[class] {
    float: none;
}
.moodtheme-links {
    margin-top: 10px !important;
}
.moodtheme-links li {
    background: url(/img/arrow-double-black.gif) no-repeat 0 50%;
    padding-left: 12px;
}
.moodtheme-form {
    float: left;
    margin-right: 40px;
}
div.moodtheme-preview {
    float: left;
    padding: 5px;
    margin-left: 20px;
    width: auto;
}

.moodtheme-preview div {
    float: left;
}

.moodtheme-mood {
    margin: 0.2em 0.5em;
    text-align: center;
}

.moodtheme-mood p {
    text-align: center;
    margin-bottom: 0.2em;
}

.moodtheme-view-link {
    margin: 0.2em 0.5em;
    text-align: center;
}

.moodtheme-description {
    clear: left;
}

.moodtheme-description p {
    text-align: left;
    margin: 0.2em 0.5em;
}
