.color-dark {
    color: #fff;
    width: 15em;
    height: 44px;
    display: block;
    padding-top: 5px;
    padding-left: 5px;
    background-image: url(/img/controlstrip/bg-dark.gif);
    background-repeat: repeat-x;
}

.color-light {
    color: #666;
    width: 15em;
    height: 44px;
    display: block;
    padding-top: 5px;
    padding-left: 5px;
    background-image: url(/img/controlstrip/bg-light.gif);
    background-repeat: repeat-x;
}


.appwidget-navstripchooser > div {
    padding: 0.2em 0.5em;
}

input.color_picker_text {
    margin-bottom:0px;
}