.color-dark {
    color: #fff;
    width: 15em;
    height: 39px;
    display: block;
    padding-top: 5px;
    padding-left: 5px;
    background-image: url(/img/controlstrip/bg-dark.gif);
    background-repeat: repeat-x;
}

.color-light {
    color: #666;
    width: 15em;
    height: 39px;
    display: block;
    padding-top: 5px;
    padding-left: 5px;
    background-image: url(/img/controlstrip/bg-light.gif);
    background-repeat: repeat-x;
}

.appwidget-navstripchooser div, .appwidget-navstripchooser .option input[type="radio"] {
    float: left;
}

.appwidget-navstripchooser > div {
    padding: 0.2em 0.5em;
}

.appwidget-navstripchooser .option {
    clear: left;
	min-height: 15px;
}

.color-picker {
    margin-top: 10px;
}