/* this is the css for the login widget as used in the /protected page.*/

.login-container {
    overflow:  auto;
    clear: both;
}

.appwidget-login {
    padding-left: 1em;
    border:  1px solid #ccc;
    width: 47%;
    float: left;
    clear: left;
}
.appwidget-login h2 {
    margin: 0 0 8px 0;
    display: none;
}
.appwidget-login form {
    margin-bottom: 10px;
}
.appwidget-login fieldset.nostyle {
    margin-bottom: 0.5em !important;
}
.appwidget-login label.left {
    width: 8em;
    line-height: 22px;
}
.appwidget-login input.text {
    width: 160px;
}
.appwidget-login #user {
    background: #fff url(/img/silk/identity/user.png) no-repeat 1px 50%;
    padding-left: 18px;
    font-weight: bold;
    color: #c1272c;
    width: 144px; /* needs to be 16px less than input.text width */
}
.appwidget-login fieldset.nostyle,
.appwidget-login p {
    margin: 0 0 0.5em 0;
}
.appwidget-login p {
    margin-left: 8em;
}
.appwidget-login a.small-link {
    font-size: 85%;
    color: #777;
}

.appwidget-login-openid {
    border:  1px solid #ccc;
    width: 47%;
    float: right;
    clear: right;
    padding: 0.4em; 
    background: #ccc; 
}

.login-create-account {
    width: auto;
}

.errorbar {
    color: #000;
    font: 12px Verdana, Arial, Sans-Serif;
    background-color: #FFEEEE;
    background-repeat: repeat-x;
    border: 1px solid #FF9999;
    padding: 6px 8px;
    margin-top: auto; margin-bottom: 15px;
    margin-left: auto; margin-right: auto;
    width: auto;
    text-align: left;
}

