.appwidget-qotd {
    margin-bottom: 8px !important;
    position: relative;
}
.appwidget-qotd #prev_questions, .appwidget-qotd #next_questions,
.appwidget-qotd #prev_questions_disabled, .appwidget-qotd #next_questions_disabled {
    display: none;
}
.appwidget-qotd #prev_questions, .appwidget-qotd #next_questions {
    cursor: pointer;
}
.appwidget-qotd h2 {
    background: url(/img/jabber.gif) no-repeat 0 50%;
    padding: 0 0 0 20px !important;
    margin: 0 0 5px 0 !important;
}
.appwidget-qotd .qotd-controls {
    padding-left: 10px;
}
.appwidget-qotd .qotd-controls img {
    vertical-align: bottom;
}
.appwidget-qotd .qotd-img {
    margin: 0 0 0 10px;
    border: 0;
}
.appwidget-qotd p {
    margin: 0;
}
.appwidget-qotd p.detail {
    margin: 0;
    padding: 5px 0 0 0;
    font-size: 10px;
}
.appwidget-qotd p.detail span.suggestions {
    display: block;
    position: relative;
    float: right;
}
.appwidget-qotd .answer {
    font-weight: bold;
}
.appwidget-qotd h2 span.special-title {
    background: none !important;
    padding: 0 !important;
}
