.appwidget-qotd {
    padding-top: 10px;
    margin: 0 !important;
}

.qotd-archive-item-date {
    font-size: 11px;
    padding-bottom: 5px;
}

.qotd-archive-item-question {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 5px;
}

.qotd-archive-item-answers {
    border-bottom: 1px solid #ededed;
    padding-bottom: 10px;
}

.qotd-archive-item-answers a {
    font-size: 11px;
}
