.lj_qotd_entry_userpic {
    float: left;
    margin-right: 6px;
}

.lj_qotd_entry_container {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.lj_qotd_entry_subject {
    font-weight: bold;
}
.qotd-container {
    position: relative;
    width: 100%;
  }
.appwidget-qotd h2 {
    margin: 0 0 4px 0 !important;
    font-size: 1em;
    font-weight: bold;
}

.appwidget-qotd {
    margin: 0 10px 0 10px;
    padding: 8px 10px;
    background-color: #ECF6FF;
    border-bottom: 2px solid #ffd8d8;
}

