.appwidget-recentlyexpunged #appwidget-recentlyexpunged-list-wrapper {
    border: 1px solid #ff3;
    background-color: #ffd;
    float: right;
    padding: 10px;
    width: 440px;
    margin: 0 0 15px 10px;
}
.appwidget-recentlyexpunged h3 {
    margin: 0 0 5px 0;
    font-style: normal;
    font-size: 14px;
}
.appwidget-recentlyexpunged ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.appwidget-recentlyexpunged ul li {
    float: left;
    width: 138px;
    margin-right: 6px;
}
