.graybg {
    background-color: #f1f1f1;
}

.prop-row .prop-color input {
    display: inline;
    width: auto;
}

.prop-note {
    color: #666;
    font-size: smaller;
}

.prop-viewslist label {
    float: none; 
}

.prop-viewslist label.prop-header {
    float: none;
    display: block;
    width: auto;
}

.prop-moduleopts {
    margin-left: 10em;
    margin-top: 0.5em;
    margin-bottom: 0em;
}
