/* css for search widget */

.appwidget-search {
    padding: 10px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.appwidget-search h2 {
    font-size: 12px;
    float: left;
    margin: 0 5px 0 0;
    padding: 0;
    line-height: 22px;
    font-weight: bold;
}
