.themes-area {
    margin-top: 10px;
}

.themes-area .select-list li {
    width: 156px;
    overflow: visible;
}

.theme-selector-content h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
}
.theme-item {
    font-size: 1em;
    position: relative;
    text-align: center;
}
.theme-item img.theme-preview {
    padding: 1px;
    width: 150px;
    height: 114px;
    display: block;
}
.theme-item .theme-preview-link {
    position: absolute;
    right: 11px;
    top: 9px;
    display: block;
    width: 31px;
    height: 31px;
}
.theme-item .theme-preview-image {
    margin-top: 1px;
    width: 31px;
    height: 31px;
    border: none;
}
.theme-item h4 {
    font-size: 1em;
    height: 2.6em;
    line-height: 1.3em;
    min-height: 2.6em;
    margin: 0;
    padding: .2em 0;
}
.theme-item .theme-desc {
    display: block;
    font-size: 1em;
    height: 5.2em;
    line-height: 1.3em;
    min-height: 5.2em;
    margin: 0;
}
.theme-item .theme-action {
    height: 8em;
    min-height: 8em;
}
.theme-item.special h4,
.theme-item.special .theme-desc {
    background-color: #ffc;
}
.theme-item.special h4 {
    margin-top: 4px;
    padding-top: 2px;
}
.theme-item.special .theme-desc {
    margin-bottom: 4px;
    padding-bottom: 4px;
}
.theme-item .theme-button {
    font-size: 1em;
    height: 1.9em;
    line-height: 1.3em;
    margin-top: .2em;
    min-height: 1.9em;
    padding: .3em;
}
.theme-item .theme-icons {
    position: absolute;
    left: 13px;
    top: 99px;
}

.theme-item.upgrade .theme-preview {
    filter:alpha(opacity=35);
    -moz-opacity:.35;
    opacity:.35;
}

.theme-upgrade-icon .theme-upgrade-level,
.theme-time span.theme-availability {
    display: none;
    position: absolute;
    top: -24px;
    left: 0px;
    font-size: 11px;
    text-align: center;
    width: 138px;
    padding: 3px;
    z-index: 101;
}
.theme-time:hover,
.theme-upgrade-icon:hover {
    border: 0;
    text-decoration: none;
}
.theme-upgrade-icon:hover .theme-upgrade-level,
.theme-time:hover span.theme-availability {
    display: block;
}
.theme-paging {
    font-size: 11px;
    margin-left: 1px;
}
.theme-paging-bottom {
    clear: both;
}
.theme-paging span.item {
    margin-right: 7px;
}
.theme-paging a {
    text-decoration: none;
}

.theme-paging form {
    display: inline;
}
.theme-paging select, .theme-paging input {
    font-size: 11px;
}
