.appwidget-themechooser {
    margin: 0 0 25px 16px;
    padding-bottom: 20px;
    position: relative;
}

.theme-selector-wrapper h2 {
    position: relative;
}
.theme-selector-wrapper h2 span {
    position: absolute;
    right: 8px;
    top: 0;
    font-size: 11px;
    font-weight: normal;
    font-family: verdana;
    vertical-align: baseline;
}
.theme-nav-content {
    margin: 0 0 15px 134px;
    position: relative;
    border-left: none;
}
.theme-selector-nav {
    float: left;
    width: 135px;
}
.theme-nav li a,
.theme-nav-small li {
    text-decoration: none;
    display: block;
    padding: 3px 6px;
}
.theme-nav li a:hover,
.theme-nav-small li a:hover {
    text-decoration: underline;
}

.theme-nav li.on a {
    border-width: 1px;
    border-style: solid;
    border-right: none;
    font-weight: bold;
}

* html .theme-nav li a,
* html .theme-nav-small li a {
    display: inline-block;
    width: 123px;
}
.theme-nav-separator {
    padding: 5px 0;
    border-right-width: 1px;
    border-right-style: solid;
}
* html .theme-nav-separator {
    width: 135px;
}
.theme-nav-separator hr {
    margin: 0 5px;
    height: 1px;
    width: 120px;
}
.theme-nav-small li.last a {
    padding-bottom: 15px !important;
}
.theme-nav-small li a {
    text-decoration: none;
    font-weight: normal;
    font-size: 11px;
}
.theme-nav-search-box {
    text-align: right;
}

.theme-nav li a, .theme-nav-small li {
    border-right-width: 1px;
    border-right-style: solid;
}

.theme-nav-content {
    border-width: 1px;
    border-style: solid;
    border-left: none;
}
