.appwidget-verticaleditorials {
    background-color: #ecf6ff;
    font-family: Arial;
}

.appwidget-verticaleditorials h2 {
    font-size: 16px;
    clear: left;
    font-weight: bold;
    background: #c7e0f6 url(/img/corner.gif) no-repeat 0 0;
    margin: 0;
    padding: 5px 8px;
    color: #222;
}

.appwidget-verticaleditorials .editorials-content {
    padding: 10px;
}

.appwidget-verticaleditorials .editorials-header-right {
    position: absolute;
    right: 7px;
    top: 8px;
    font-size: 11px;
    text-decoration: none;
    padding-left: 10px;
}

.appwidget-verticaleditorials .editorials-submitter {
    font-size: 11px;
    color: #fff;
    background-color: #3e5a8b;
    padding: 2px;
    margin: 0;
    text-align: center;
}

.appwidget-verticaleditorials .editorials-submitter a {
    color: #fff !important;
}

.appwidget-verticaleditorials .editorials-picture {
    float: left;
    margin-right: 10px;
    position: relative;
}

.appwidget-verticaleditorials .editorials-block-title {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.appwidget-verticaleditorials .editorials-block-text {
    font-size: 12px;
    margin: 2px 0 5px 0;
}
