h1.logged-in, h1.logged-out, h1 {
    margin-bottom: 0 !important;
}

.appwidget-verticalhubheader a {
    color: #00c !important;
    text-decoration: none;
    font-weight: bold;
}

.appwidget-verticalhubheader a:hover {
    text-decoration: underline;
}

.appwidget-verticalhubheader .title-box {
    background-color: #c7e0f6;
    width: 100%;
}

.appwidget-verticalhubheader .title-box .header-cell {
    vertical-align: middle;
    padding-left: 10px;
}

.appwidget-verticalhubheader .title-box .ad-cell {
    width: 728px;
}

.appwidget-verticalhubheader .children,
.appwidget-verticalhubheader .siblings {
    margin-top: 5px;
}
