.appwidget-verticalsummary {
    margin: 0 !important;
    padding: 2px;
}

.appwidget-verticalsummary .vertsummary-outer {
    background-color: #fff;
}

.appwidget-verticalsummary h2 {
    font-size: 14px;
    clear: left;
    font-family: Arial;
    font-weight: bold;
    background: #d6e6f5 url(/img/corner-f6f6f6.gif) no-repeat 0 0;
    margin: 0;
    padding: 5px 8px;
    color: #222;
    text-transform: uppercase;
    position: relative;
}

.appwidget-verticalsummary h2 a span.vertsummary-verticalname {
    color: #000;
}

.appwidget-verticalsummary .vertsummary-inner {
    border: 1px solid #ededed;
    border-top: 0;
    position: relative;
}

.appwidget-verticalsummary .vertsummary-subcats {
    font-size: 11px;
    margin: 5px 0 5px 5px;
}

.appwidget-verticalsummary hr {
    color: #ededed;
    background-color: #ededed;
    border: 0;
    height: 1px;
    margin: 0;
    padding: 0;
}

.appwidget-verticalsummary .vertsummary-entries {
    width: 100%;
}

.appwidget-verticalsummary .vertsummary-userpic {
    width: 35px;
    height: 35px;
    text-align: center;
}

.appwidget-verticalsummary .vertsummary-subject {
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.appwidget-verticalsummary .vertsummary-poster {
    font-size: 11px;
    color: #222;
    padding: 0;
    margin: 0;
}

.appwidget-verticalsummary .vertsummary-poster a {
    color: #69c !important;
}

.appwidget-verticalsummary .vertsummary-posttime {
    font-size: 10px;
    color: #999;
    padding: 0;
    margin: 0;
}
