.appwidget-verticaleditorialsnippets a {
    color: #00c !important;
    text-decoration: none;
}

.appwidget-verticaleditorialsnippets a:hover {
    text-decoration: underline;
}

.appwidget-verticaleditorialsnippets .snippet {
    width: 50%;
}

.appwidget-verticaleditorialsnippets p {
    margin: 0;
}

.appwidget-verticaleditorialsnippets fieldset {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 5px;
}

.appwidget-verticaleditorialsnippets .heading {
    color: #666;
    text-transform: uppercase;
    font-size: 10px;
}

.appwidget-verticaleditorialsnippets .title {
    font-weight: bold;
    font-size: 13px;
}

.appwidget-verticaleditorialsnippets .text {
    font-family: Arial;
    font-size: 13px;
}

.appwidget-verticaleditorialsnippets .moreverts {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 10px;
    font-weight: bold;
}
