//
// Foundation Variables
//

// We set a lot of skin-specific variables (colors, etc) in the respective $skinname.scss files
// so this likely is not want what you want to include

// The default font-size is set to 100% of the browser style sheet (usually 16px)
// for compatibility with browser-based text zoom or user-set defaults.
$base-font-size: 100% !default;

// $base-line-height is 24px while $base-font-size is 16px
$base-line-height: 1.5;

// This is the default html and body font-size for the base em value.

// Since the typical default browser font-size is 16px, that makes the calculation for grid size.
// If you want your base font-size to be a different size and not have it effect grid size too,
// set the value of $em-base to $base-font-size ($em-base: $base-font-size;)
$em-base: 16px !default;

// Working in ems is annoying. Think in pixels by using this handy function, emCalc(#px)
@function emCalc($pxWidth) {
  @return $pxWidth / $em-base * 1em;
}

// Change whether or not you include browser prefixes
$experimental: true !default;


// GLOBAL

$default-float: left;
$global-radius: 3px;
$alert-border-width: $global-radius;

// most of the time, we'll just want the mixins or variables
// and not the styles themselves
$include-html-classes: false !default;

$include-print-styles: true;


// GRID
$row-width: 80em;


// TYPE
// Heading font sizes
$h1-font-size: 1.814em;
$h2-font-size: 1.814em;
$h3-font-size: 1.618em;
$h4-font-size: 1.121em;
$h5-font-size: 1em;
$h6-font-size: 0.90em;


// BUTTONS
// We use these to build padding for buttons.
$button-sml: emCalc(7px);
$button-med: emCalc(9px);
$button-lrg: emCalc(12px);

// We use these to control button text styles.
$button-font-sml: emCalc(11px);
$button-font-med: emCalc(13px);
$button-font-lrg: emCalc(16px);

// FORMS
$form-label-font-size: emCalc(16px);
$input-font-size:      emCalc(16px);
$form-spacing:         emCalc(16px);
$input-error-message-top: -($form-spacing) - emCalc(6px);
