/* site-wide components and settings, to be included in the site skins (but not individual pages) */

// import the settings we want to work with
@import "foundation/settings";

// import global
@import "foundation/components/global";

// normalize stylesheet
@import "foundation/normalize";

@import
  // "foundation/components/accordion",
  // "foundation/components/alert-boxes",
  // "foundation/components/block-grid",
  // "foundation/components/breadcrumbs",
  // "foundation/components/button-groups",
  "foundation/components/buttons",
  // "foundation/components/clearing",
  // "foundation/components/dropdown",
  // "foundation/components/dropdown-buttons",
  // "foundation/components/flex-video",
  "foundation/components/forms",
  "foundation/components/grid",
  // "foundation/components/inline-lists",
  // "foundation/components/joyride",
  // "foundation/components/keystrokes",
  "foundation/components/labels",
  // "foundation/components/magellan",
  // "foundation/components/orbit",
  "foundation/components/pagination",
  // "foundation/components/panels",
  // "foundation/components/pricing-tables",
  // "foundation/components/progress-bars",
  "foundation/components/reveal",
  // "foundation/components/side-nav",
  "foundation/components/split-buttons",
  "foundation/components/sub-nav",
  //"foundation/components/switches",
  "foundation/components/tables",
  // "foundation/components/tabs",
  "foundation/components/thumbs",
  // "foundation/components/tooltips",
  // "foundation/components/tabs",
  "foundation/components/type",
  "foundation/components/top-bar",
  "foundation/components/visibility";


// replaces foundation components above
@import
  "components/foundation-custom/alert-boxes",
  "components/foundation-custom/panels";

// tweaks to foundation components above
@import
  "components/foundation-custom/buttons",
  "components/foundation-custom/pagination",
  "components/foundation-custom/tables",
  "components/foundation-custom/reveal";

