[%# Page for error messages

Authors:
    foxfirefey <foxfirefey@dreamwidth.org>

Copyright (c) 2015 by Dreamwidth Studios, LLC.

This program is free software; you may redistribute it and/or modify it under
the same terms as Perl itself.  For a copy of the license, please reference
'perldoc perlartistic' or 'perldoc perlgpl'.
%]
[%- sections.title = 'error' | ml -%]
<p>[% message %]</p>
