li { margin-top: 10px; }
body { 
  font-family: sans-serif; 
  background: #eeeeee;
  margin: 0; padding: 0;
}
/* IE hack, works around no child-selector bug */
* html body {
  margin: 15px;
  m\argin: 15px;
}
body > * { margin: 15px; padding: auto; }
body > div.navheader { margin: 0; padding: 0;}

a { color: #b77f4e; }
a:visited { color: #a84510; }
h1, h2, h3 { color: #000000; }

a.linkhere, a.linkhere:visited { 
  color: black; text-decoration: none; 
  margin-right: 5px;
}

h2 a { color: black; }
h3 a { color: black; }
dt a { color: black; }

dt { font-weight: bold; font-style: italic; margin-top: 7px; }
dl { margin-left: 40px; }

h2 {
   border-top: 2px solid #8fc3f7;
   border-left: 2px solid #8fc3f7;
   padding: 3px;
   background: #69c;
}
h3 {
   border-bottom: 2px dotted #a84510;
   margin-bottom: 3px;
}
h3+p { margin-top: 4px; }

p.toplink { font-size: 0.8em; }

hr { display: none; }

div.navheader
{ 
  width: 100%;
  background-color: #036;
  color: #fff;
  border-top-style: solid;
  border-top-width: 1px;
}

/* FIXME: make bottom bar prettier */
div.navfooter
{
  border-top: 1px solid #036;
}

div.navheader a, div.navheader a:visited {
  color: #fff;
}

.question { font-weight: bold; }

.toc dt { font-weight: normal; }
.toc dt a { font-weight: bold; }

.ulink { color: #00f; }
.ulink img { border: 0; }

.informaltable table tr td { 
  padding-right: 5px;
}

.programlisting {
  background-color: #9cc;
  padding-left: 15px;
  border-left: 2px solid #000;
}

.screen { font-weight: bold; }

.guibutton { 
  border: 1px solid #000; 
  padding-left: 2px;
  padding-right: 2px;
  background-color: #aaf;
  color: #000;
  font-weight: bold;
  font-family: monospace;
}
.guilabel { font-family: monospace; }
