li { margin-top: 10px; }
body { 
  font-family: sans-serif; 
  background: #eeeeee;
  margin: 0; padding: 0;
}
/* IE hack, works around no child-selector bug */
* html body {
  margin: 15px;
  m\argin: 15px;
}
body > * { margin: 15px; padding: auto; }
body > div.navheader { margin: 0; padding: 0;}

a { color: #b77f4e; }
a:visited { color: #a84510; }
h1, h2, h3 { color: #000000; }

h2 a { color: black; }
h3 a { color: black; }
dt a { color: black; }

dt { font-weight: bold; font-style: italic; margin-top: 7px; }
dl { margin-left: 40px; }

h2 {
   border-top: 2px solid #c1272d;
   border-left: 2px solid #c1272d;
   padding: 3px;
   background: #f4717a 
}
h3 {
   border-bottom: 2px dotted #a84510;
   margin-bottom: 3px;
}
h3+p { margin-top: 4px; }

p.toplink { font-size: 0.8em; }

hr { display: none; }

div.footnote { font-size: 8pt; }

div.navheader
{ 
  width: 100%;
  background-color: #c1272c; 
  color: #fff;
  border-top-style: solid;
  border-top-width: 1px;
}

/* FIXME: make bottom bar prettier */
div.navfooter
{
  border-top: 1px solid #c1272c; 
}

div.navheader a, div.navheader a:visited {
  color: #fff;
}

.question { font-weight: bold; }

.toc dt { font-weight: normal; }
.toc dt a { font-weight: bold; }

.ulink { color: #00f; }
.ulink img { padding-bottom: 7px; padding-left: 2px; padding-right: 0px; border: 0; }

/*
div.draft-chapter {
  color: blue;
} */

a.linkhere, a.linkhere:visited { 
  color: black; text-decoration: none; 
  margin-right: 5px;
}

.informaltable table tr td { 
  padding-right: 5px;
}

.programlisting {
  background-color: #9cc;
  padding-left: 15px;
  border-left: 2px solid #000;
}

.screen { font-weight: bold; }

.example-break { display: none; }


/* guibutton/label styling used by /doc/raw/s2/lj/quickstart.xml */

.guibutton { 
  background-color: #f4717a;
  color: #000;
  border: 2px solid #f6828b;
  border-bottom: 2px solid #c1272d;
  border-right: 2px solid #c1272d;
  padding-left: 2px;
  padding-right: 2px;  
  font-weight: bold;
  font-family: monospace;
}

.guilabel { font-family: monospace; }

b.fsfunc { background: #eeeeee; color: #8b008b; font-family: monospace; }
var.pdparam { background: #eeeeee; color: #0000ff; font-family: monospace; }
div.funcsynopsis p { background: #eeeeee; color: #007700; font-family: monospace; }
code.funcdef { background: #eeeeee; color: #3ebcd1; font-family: monospace; }
div.funcsynopsis code { background: #eeeeee; color: #3ebcd1; font-family: monospace; }

div.titlepage div.abstract p.title {
  font-size: 14pt;
  margin-bottom: 2px;
  border-bottom: 2px dotted #a84510;
}

