[%# communities/queue/entries.tt

Lists the pending entries in the moderation queue

Authors:
    Afuna <coder.dw@afunamatata.com>

Copyright (c) 2015-2018 by Dreamwidth Studios, LLC.

This program is free software; you may redistribute it and/or modify it under
the same terms as Perl itself.  For a copy of the license, please reference
'perldoc perlartistic' or 'perldoc perlgpl'.
%]

[%- sections.title = ".title" | ml -%]
[%- CALL dw.active_resource_group( "foundation" ) -%]

[%- dw.need_res( { group => "foundation" }
    "stc/css/components/queues.css"
) -%]

[%- linkbar -%]

<div class="row"><div class="large-12 columns"><div class='highlight-box'>
[% '.manage.membership.requests' | ml( aopts = "href='$site.root/communities/$community.user/queue/members'" ) %]
</div></div></div>

[%- IF entries.size > 0 -%]
    <ul class="queue">
        [%- FOREACH entry = entries -%]
        <li class="queue-item"><div class="row">
            <div class="columns large-3">[%- entry.poster -%]</div>
            <div class="columns large-7"><a href="[%- entry.url -%]" class="queue-action">
            [%- IF entry.subject -%]
                [%- entry.subject | html -%]
                [%- IF entry.subject_maxlength -%]
                    ...
                [%- END -%]
            [%- ELSE -%]
                [%- ".no_subject" | ml -%]
            [%- END -%]
            </a></div>
            <div class="columns large-2 timestamp">[%- entry.time  -%]</div>
        </div></li>
        [%- END -%]
    </ul>
[%- ELSE -%]
    <div class="panel">[%- ".empty" | ml -%]</div>
[%- END -%]
