.ljad h4
{
    text-align: left;
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
    color: #444;
    margin: 0;
}
.ljad a
{
    font-size: 10px;
    border: 0;
}
.ljad img { border: 0; }
.ljadskyscraper
{
    width: 160px;
}
.ljadleaderboard, .ljadleaderboard-top, .ljadleaderboard-bottom
{
    width: 728px;
    margin-left: auto;
    margin-right: auto;
}
.ljadsmrect
{
    width: 185px;
}
.ljadmedrect
{
    width: 300px;
}
.ljad5linkunit
{
    width: 728px;
    margin-left: auto;
    margin-right: auto;
}
.ljadbadge
{
    width: 160px;
    margin-bottom: 15px;
}
.ljadentrybox
{
    width: 468px;
}


/* Styling for search ads */

.lj_inactive_ad {
    display: none;
}

.lj_content_ad {
    border: 1px solid #FFD63F;
    width: 580px;
    overflow: hidden;
    text-decoration: none;
    font-size: 12px;
    padding: 5px;
    padding-bottom: 0;
}

.lj_content_ad .ad_header {
    font-weight: bold;
}

.lj_content_ad .ad_text,
.lj_content_ad .ad_url {
    font-size: 11px;
}
