.token {
  background-color: #f2f2f2;
  border-color: #ccc;
}
.token.new {
  border-color: #888;
  background-color:#fff;
}
.token .token_remove {
  border-color: #aaa;
  color: #666;
}
.token:hover, .token.hover, .token:focus, .token.focus {
  border-color: #444;
}
.token .token_remove:hover, .token .token_remove:focus {
  color: #999;
  background-color: #ddd;
}
.autocomplete_count_container {
  color: #808080;
}

.column {
  border-color:#ccc;
}
.component {
  background-color:#eee;
  border-color: #eee;
}
.component h3 {
  color: #444;
  text-shadow: 1px 1px 0px #fff;
}
.ui-widget-header {
  background-color:#F2F2F2;
  background-image: none;
}
.ui-widget-content, .ui-sortable {
  border-color: #ccc
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  color: #000;
  background:#FFF8DC none repeat scroll 0 0;
}

#iconselector_icons_list li {
  border-color: #ccc;
  background-color:#fff;
}
.kwmenu .keyword {
  border-color: #ccc;
  background-color:#f2f2f2;
}
.kwmenu .selected, #iconselector_icons_list .iconselector_selected {
  border-color: #444;
  background-color:#f2f2f2;
}

#post_entry .permalink {
  color:#888;
}
#post_entry .noicon {
  border-color: #bbb;
}
#post_entry .screen-customize-mode .sortable_column_text {
  color: #ccc;
}

.toolbar input, .submit input, .component button {
  background-color: #e3e3e3;
  border-color: #ccc;
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  -moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
  -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
  color: #333;
  text-shadow: 0 1px 0px #fff;
}

.toolbar input:hover, .submit input:hover, .component button:hover {
  background: #f6f6f6;
  box-shadow: inset 0 0 1px 1px #fff;
  -moz-box-shadow: inset 0 0 1px 1px #fff;
  -webkit-box-shadow: inset 0 0 1px 1px #fff;
  color: #222;
}

.toolbar input:active, .submit input:active, .component button:active {
  background-color: #d9d9d9;
  box-shadow: inset 0 0 1px 1px #eaeaea;
  -moz-box-shadow: inset 0 0 1px 1px #eaeaea;
  -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
  color: #000;
}

.destructive input {
  color: #636363;
}

.destructive input:hover {
  color: #cc2222;
}

#main-tools {
  background-color: #ebebeb;
}

#settings-tools {
  background-color: #efefef;
}

#plaintext-tools {
  border-color: #efefef;
  background-color: #f2f2f2;
}
