.token {
  background-color: #333;
  border-color: #ccc;
}
.token.new {
  border-color: #888;
  background-color:#222;
}
.token .token_remove {
  border-color: #aaa;
  color: #666;
}
.token:hover, .token.hover, .token:focus, .token.focus {
  color: #ccc;
  border-color: #999966;
}
.token .token_remove:hover, .token .token_remove:focus {
  color: #ccc;
  background-color: #666666;
}
.autocomplete_count_container {
  color: #808080;
}

.column {
  border-color:#888888;
}
.component {
  background-color:#444;
  border-color:#444;
}
.component h3 {
  color: #999;
  text-shadow: -1px 0 0 #777;
}
.ui-widget-header {
  background-color:#727272;
  background-image: url();
}
.ui-widget-content, .ui-sortable {
  border-color: #999
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  color: #E9E9E0;
  background:#815E00 none repeat scroll 0 0;
}

#iconselector_icons_list li {
  border-color: #888;
  background-color:#444;
}
#iconselector_icons_list li:hover, .kwmenu .selected, #iconselector_icons_list .iconselector_selected {
  border-color: #fff;
}
.kwmenu .keyword {
  border-color: #888;
  background-color:#727272;
}
.kwmenu .selected, #iconselector_icons_list .iconselector_selected {
  background-color:#727272;
}
.kwmenu .selected, #iconselector_icons_list .iconselector_selected  {
  border-color: #fff;
}

#post_entry .permalink {
  color:#888;
}
#post_entry .noicon {
  border-color: #bbb;
}
#post_entry .screen-customize-mode .sortable_column_text {
  color: #ccc;
}

.toolbar input, .submit input {
  box-shadow: inset 0 0 1px 1px #777;
  -moz-box-shadow: inset 0 0 1px 1px #777;
  -webkit-box-shadow: inset 0 0 1px 1px #777;
}

.toolbar input:hover, .submit input:hover {
  background: #444;
  color: #eee;
}

.toolbar input:active, .submit input:active {
  background-color: #d9d9d9;
  box-shadow: inset 0 0 1px 1px #eaeaea;
  -moz-box-shadow: inset 0 0 1px 1px #eaeaea;
  -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
  color: #000;
}

.destructive input {
  color: #888;
}

.destructive input:hover {
  color: #a11;
}

#main-tools {
  background-color: #333;
}

#settings-tools {
  background-color: #3f3f3f;
}

#plaintext-tools {
  border-color: #444;
  background-color: #4b4b4b;
}
