#lj_controlstrip
{
    background-color: #c7c6c6;
    background-image: url(/img/controlstrip/bg-light.gif);
    color: #7c7c7c;
}

#lj_controlstrip a
{
    color: #505050;
}

#lj_controlstrip_user,
#lj_controlstrip_login,
#lj_controlstrip_actionlinks
{
    border-right: 1px solid #fbfbfb;
}

#lj_controlstrip_statustext
{
    color: #404040;
}
