#lj_controlstrip
{
    background-color: #2e2c2c;
    background-image: url(/img/controlstrip/bg-dark.gif);
    color: #989898;
}

#lj_controlstrip a, #lj_controlstrip_switch ul a,
#lj_controlstrip_switch .switch-account-btn
{
    color: #f5f5f5;
}

#lj_controlstrip_user,
#lj_controlstrip_login,
#lj_controlstrip_actionlinks
{
    border-right: 1px solid #878080;
}

#lj_controlstrip_statustext
{
    color: #f5f5f5;
}

#lj_controlstrip_switch ul {
    background-color: #2e2c2c;
    border-color:#878080;
    color:#f5f5f5;
}