html body
{
    padding-top: 0;
    margin: 0;
}

#lj_controlstrip
{
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    background-repeat: repeat-x;
    background-position: bottom;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

#lj_controlstrip > div
{
    font-family: Arial, sans-serif;
    font-size: 11px;
    line-height: 16.5px;
    letter-spacing: normal;
    padding: 5px 10px;
    display: inline-block; /* Do u even flex, bro?? */
    flex-grow: 1;
}

/* Userpic doesn't need extra spacing around it, and absent userpics
   shouldn't take up space */
#lj_controlstrip #lj_controlstrip_userpic,
#lj_controlstrip #lj_controlstrip_loggedout_userpic
{
    flex-grow: 0;
    padding: 0;
}

#lj_controlstrip a
{
    font-family: Arial, sans-serif;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-variant: normal;
    border: 0;
    margin: 0;
    padding: 0;
}

#lj_controlstrip a:hover {
    text-decoration: underline;
}

/* Don't add extra height at bottom of userpic box */
#lj_controlstrip_userpic a {
    display: block;
    line-height: 0;
}

#lj_controlstrip img {
    background: none;
    margin: 0;
    padding: 0;
    border: 0;
}

#lj_controlstrip a img
{
    padding: 0;
    margin: 0;
    border: 0;
}

#lj_controlstrip form
{
    padding: 0;
    margin: 0;
    border: 0;
}

/* Make sure all form elements use default colors and control strip fonts */
#lj_controlstrip input
{
    font-family: Arial, sans-serif;
    font-size: 11px;
    line-height: 16.5px;
    background-color: ButtonFace;
    color: ButtonText;
    padding: 0;
    margin: 0;
    width: auto;
    text-transform: none;
}

/* Make sure all form elements use default colors and control strip fonts */
#lj_controlstrip select,
#lj_controlstrip input#xc_user,
#lj_controlstrip input#xc_password,
#lj_controlstrip input#xc_remember,
#lj_controlstrip input#search
{
    font-family: Arial, sans-serif;
    font-size: 11px;
    line-height: 16.5px;
    background-color: #f7f7f7;
    color: #333333;
    padding: 0;
    margin: 0;
}

#lj_controlstrip input#xc_user,
#lj_controlstrip input#xc_password
{
    width: 7em;
}

#lj_controlstrip input#xc_remember
{
    height: 10px;
    width: 10px;
}

#lj_controlstrip_statustext
{
    font-size: 12px;
    font-weight: bold;
}

/* Read/network page filter form */
#lj_controlstrip_readfilter
{
    display: inline;
}
