html body
{
    padding-top: 0;
    margin: 0;
}

#lj_controlstrip
{
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    background-repeat: repeat-x;
    background-position: bottom;
    text-align: left;
}

#lj_controlstrip table
{
    margin: 0;
    padding: 0;
    width: auto;
}

#lj_controlstrip td
{
    font-family: Arial, sans-serif;
    font-size: 11px;
    line-height: 16.5px;
    letter-spacing: normal;
    padding: 0.4045em 0.809em;
    white-space: normal;
    display: inline-block;

    *display: inline; /* IE7 hack for inline-block */
    zoom: 1;
}

#lj_controlstrip a
{
    font-family: Arial, sans-serif;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-variant: normal;
    border: 0;
    margin: 0;
    padding: 0;
}

#lj_controlstrip a:hover {
    text-decoration: underline;
}

#lj_controlstrip img {
    background: none;
    margin: 0;
    padding: 0;
    border: 0;
}

#lj_controlstrip a img
{
    padding: 0;
    margin: 0;
    border: 0;
}

#lj_controlstrip form
{
    padding: 0;
    margin: 0;
    border: 0;
}

/* Make sure all form elements use default colors and control strip fonts */        
#lj_controlstrip input
{
    font-family: Arial, sans-serif;
    font-size: 11px;
    line-height: 16.5px;
    background-color: ButtonFace;
    color: ButtonText;
    padding: 0;
    margin: 0;
    width: auto;
    text-transform: none;
}

/* Make sure all form elements use default colors and control strip fonts */
#lj_controlstrip select,
#lj_controlstrip input#xc_user,
#lj_controlstrip input#xc_password,
#lj_controlstrip input#xc_remember,
#lj_controlstrip input#search
{
    font-family: Arial, sans-serif;
    font-size: 11px;
    line-height: 16.5px;
    background-color: #f7f7f7;
    color: #333333;
    padding: 0;
    margin: 0;
}

/* First cell */
#lj_controlstrip_userpic
{
    vertical-align: middle;
    width: 43px;
}

/* Second cell */
#lj_controlstrip_user
{
    text-align: left;
    vertical-align: middle;
    padding: 0 1em 0 1em;
    width: auto;
}

/* Third cell */
#lj_controlstrip_actionlinks
{
    text-align: left;
    vertical-align: middle;
    padding: 0 1em 0 1em;
    width: auto;
}

/* Third cell first line */
#lj_controlstrip_statustext
{
    font-size: 12px;
    font-weight: bold;
}

/* Fourth cell */
#lj_controlstrip_search
{
    vertical-align: middle;
    padding: 0 1em 0 1em;
    white-space: nowrap;
}

/* Log in form */
#lj_controlstrip_login
{
    vertical-align: middle;
    padding-left: 1em;
    width: 28em; 
    white-space: nowrap;
}

/* First cell logged out */
#lj_controlstrip_loggedout_userpic
{
    vertical-align: top;
    width: 140px;
}
