.cprod {
    width: 300px;
    overflow: visible;
}
* html .cprod {
    overflow: hidden;
}
.cprod h3 {
    margin: 0 0 0 5px;
    padding: 0 5px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    font-style: normal;
    background-color: #fff;
    color: #6A9AC2;
    overflow: visible;
    z-index: 10;
    position: relative;
    width: 25px;
}
.cprod .cprod-image {
    border: none;
    float: left;
    margin-right: 10px;
}
.cprod .content {
    clear: left;
    margin: -8px 0 8px 0 !important;
    position: relative; 
    line-height: 1.4em;
    border: 1px solid #c1272d;
    padding: 11px 14px 14px 14px;
    font-size: 95% !important;
}
.homepage-wrapper-loggedin .cprod h3 {
    color: #777;
}
.homepage-wrapper-loggedin .cprod .content {
    border: 1px solid #ccc;
}
.cprod .content p {
    margin: 3px 0;
    font-size: 100% !important;
}
.cprod .alllink {
    float: right;
    font-size: 11px;
    line-height: 13px;
    margin: -16px 5px 0 0;
    background-color: #fff;
    width: 130px;
    position: relative;
}
* html .cprod .alllink {
    width: 135px;
}
.cprod .alllink a {
    display: block;
    float: right;
    background-color: #fff;
    padding: 0 5px;
    text-decoration: none;
    color: #6A9AC2;
    font-weight: bold;
}
.cprod .alllink a:hover {
    text-decoration: underline;
    color: #c1272c;
}
