#Authas {
    margin-top: .5em;
    float: right;
}
#Tabs {
    margin: 0; padding: 0;
    border-bottom: 2em solid #69c;
    display: block;
    list-style-type: none;
    clear: right;
}
#Tabs li {
    font-size: 1em;
    border: 2px solid #69c;
    margin: 0 0.2em -2em 0.8em;
    padding: 0.25em 0.25em 0em 0.25em;
    background: #ddd;
    display: inline;
    white-space: nowrap;
}
#Tabs li.SelectedTab {
    background-color: #69c;
    font-weight: bold;
}
#Tabs li a {
    text-decoration: none;
    width: 100%;
    padding: 0;
    margin: 0;
    color: #000;
}
#Tabs li.SelectedTab {
    color: #fff;
}
#CurrentTab {
    margin-top: 0;
    border: 1px solid #69c;
    padding: .5em;
}
#CurrentTabMain {
    height: 100%;
    width: 64%;
}
#CurrentTabSide {
    width: 35%;
    float: right;
    margin-top: 1em;
}
#CurrentTabSide table th {
    font-weight: normal;
    white-space: nowrap;
    vertical-align: top;
    font-style: italic;
    text-align: left;
}
fieldset {
    border: 1px solid #ccc;
    margin-bottom: 1em;
    margin-top: .5em;
}
legend {
    font-size: 1em;
    font-weight: bold;
    color: #000;
}
#propgroupstab {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: inline;
    margin-bottom: .5em;
}
#propgroupsbody {
    margin-top: .5em;
    margin-bottom: .5em;
    padding-left: 2em;
    border: 1px solid #ccc;
}
span.propgrouptabsel, span.propgrouptab {
    margin: 0 0.2em 0 0.8em;
}
span.propgrouptabsel a {
    text-decoration: none;
    color: #000;
}
div.inset {
    margin-left: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
dl.hidedt {
    margin: 0;
    padding: 0;
}
dl.hidedt dt {
    font-weight: bold;
}
#CustomOptions th {
    text-align: left;
}
#CustomizeAdBox {
    height: 110px;
    width: 728px;
    margin: 0 auto;
}
