h2.widget-header {
    font-size: 14px;
    clear: left;
    font-family: Arial;
    font-weight: bold;
    margin: 0 0 8px 0
    padding: 5px 8px;
}

.theme-current {
    float: right;
    width: 35%;
    margin-bottom: 15px;
}

.theme-titles {
    float: left;
    width: 63%;
    margin-bottom: 15px;
}

.theme-selector-wrapper {
    clear: both;
}

.layout-selector-wrapper {
    margin-bottom: 15px;
}

.theme-customize {
    text-align: right;
    clear: both;
}

form.theme-switcher {
    text-align: right;
    margin-bottom: 10px;
}

.one-percent {
    height: 1%;
}

.customize-wrapper {
    clear: both;
    position: relative;
}

.theme-titles P {
    overflow: hidden;
    zoom: 1;
}

.layout-item.highlight {
    border-width: 1px;
    border-style: solid;
}
