div.ConstraintFields {
                       display: inline;
                       margin: 2px;
}

User.UserpicContainer {
                        width: 100px;
                        height: 100px;
}
span.User {
           display: inline;
}

div.UsersContainer {
        overflow-y: scroll;
        height: 300px;
}

/* old directory search styles */
#SearchResults {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

td.SearchResult {
    text-align: center;
    vertical-align: bottom;
    padding: .5em;
}

div.ResultUserpic {
    width: 100px;
    height: 100px;
    display: inline;
    padding: .5em;
}

div.NewSearch {
    font-size: 14px;
}

#FilterSearch {
    padding: 5px 0 15px 0;
}
