#Content input.text,
#Content input.radio,
#Content input.file,
#Content label.left,
#Content .helplink {
    float: left;
}
#Content .helplink {
    margin-top: 4px;
}
#Content label.left {
    min-width: 6em !important;
    line-height: 20px !important; 
}
* html #Content label.left {
    width: 6em;
}
hr {
    clear: left;
}
#userpic_authas {
    margin-bottom: 10px;
}
#uploadBox {
    float: left;
    width: 300px;
    margin: 0 15px 0 0;
}
	
#uploadBox-inner  {
    padding: 6px 12px;
}
#upload_desc {
    font-size: 0.9em;
    line-height: 1.4em;
    margin-bottom: 8px;
}
#uploadBox p {
    margin: 0 0 6px 0;
}
#uploadBox p.detail {
    margin: 0 0 10px 0
}
#uploadBox input.text {
    width: 240px;
}
#submit_wrapper {
    text-align: center;
}
#current_userpics {
    margin-left: 320px;
}
.userpic_wrapper {
    margin: 10px 0 5px 0;
}
.EditIconsUserpic {
    margin-right: 10px;
    display: block;
    text-align: center;
    width: 100px;
    height: 100px;
    float: left;
    clear: left;
    margin-bottom: 10px;
}
.userpic_defaultdelete input.radio,
.userpic_defaultdelete input.checkbox,
.userpic_defaultdelete label {
    float: none;
}
@media all and (min-width: 0px){ .userpic_controls { 
    width: 400px;
}}
.userpic_controls input.text {
    width: 220px;
}
* html .userpic_controls input.text {
    width: 180px;
}
*:first-child+html .userpic_controls input.text {
    width: 180px;
}
.userpic_keywords, .userpic_comments, .userpic_descriptions, .userpic_defaultdelete {
    float: left;
    clear: left;
    margin-bottom: 8px;
}
.userpic_defaultdelete {
    width: 200px;
}
.userpic_rename {
    width: 200px;
    margin-left: 6.5em;
    margin-bottom: 4px;
    margin-top: 4px;
}
* html .userpic_keywords,
* html .userpic_comments,
* html .userpic_descriptions {
    width: 290px;
}
*:first-child+html .userpic_keywords, 
*:first-child+html .userpic_comments,
*:first-child+html .userpic_descriptions {
    width: 290px;
}
html>body .userpic_defaultdelete {
    margin-left: 6.5em;
}
.userpic_defaultdelete label {
    margin-right: 10px !important;
}
#no_default_userpic {
    text-align: center;
}
#userpic_submit {
    width: 120px;
    margin: 0 auto;
    text-align: center;
}
#no_default_userpic input.radio,
#no_default_userpic label {
    float: none;
    display: inline;
}
