hr {
    clear: left;
}
	
#uploadBox-inner {
    padding: 0.5em 0.75em;
}

#submit_wrapper {
    text-align: center;
}
.userpic_wrapper {
    margin: 0.5rem 0 0.25rem 0;
}
.EditIconsUserpic {
    margin-right: 10px;
    display: block;
    text-align: center;
    width: 100px;
    height: 100px;
    float: left;
    clear: left;
    margin-bottom: 10px;
}

@media all and (min-width: 0px){ .userpic_controls { 
    width: 400px;
}}
.userpic_controls input.text {
    width: 220px;
}
* html .userpic_controls input.text {
    width: 180px;
}
*:first-child+html .userpic_controls input.text {
    width: 180px;
}

.userpic_defaultdelete {
    width: 200px;
}
.userpic_rename {
    width: 200px;
    margin-bottom: 4px;
    margin-top: 4px;
}
#no_default_userpic {
    text-align: center;
}

#no_default_userpic input.radio,
#no_default_userpic label {
    float: none;
    display: inline;
}

.helper {
    margin-top: 0.5rem;
    font-size: smaller;
}