/* Styling for the management icon box*/
.action-box {clear:both;}
.action-box .inner { padding: 0.5em; }
.action-box ul {background-color:none; border: 0; list-style: none outside none; margin:0;}

/*Styling for entry header and contents*/
.poster-info { display: table-cell;
    overflow: auto;
    padding: 0.5em;
    vertical-align: bottom; }
.entry-wrapper {margin:0}

h3.entry-title {
    font-size:1.5em;
    font-style: italic;
    font-weight: bold;
    margin: 10px 0;
    display:inline-block;}

.entry .header {background:none; border:0;}
.entry .datetime:before { content:"@ ";} /*add the talkread-style elements to the date and time*/
.entry .datetime {font-style: italic;}
.entry .contents{ margin-left: 30px}
.entry-wrapper .userpic {display: table-cell; float: none;}

/*Styling for metadata tags*/
.tag-text, .metadata-label {font-weight: bold;}
.entry .metadata {padding:0;}
.metadata ul {margin: 0; list-style: none;}
.metadata li {margin-top: 0.5em;}
.currents {clear:both; margin-left:50px;}

.moderated-entry .header, .moderated-entry .age-restriction-reason { font-size: smaller; }
.moderated-entry .currents {background-color: transparent; border: none; margin-left: 0;}
.moderated-entry .currents td { padding: 0.2em 0.5em; font-size: smaller;}
.moderated-entry h3.entry-title { margin: 0; }
.moderated-entry .subject { margin: 10px 0; }


.tag ul {list-style:none; display:inline; margin-left:0; }
.tag {margin-top:0.6em;}
.tag li {display:inline;}


/*Entry footer links*/
.entry .footer {text-align: center;}
hr.above-entry-interaction-links, hr.below-entry-interaction-links {margin: 1em 0;}
.entry-interaction-links, .comment-pages {text-align: center; font-weight:bold; float:none;}
.entry-interaction-links li {display:inline;}
ul.entry-interaction-links {list-style: none outside none; display: inline; text-align: center; padding: 0.5em 0; margin:0;}
.comment-page-list { margin: 1em auto; padding: .5em;display:inline-block;}
.page-prev, .page-next, .page-links {display: table-cell;}
.page-prev, .page-next { vertical-align: middle; padding:0 .5em;}
.commment-pages-wrapper {text-align: center;}
/* give talkread styling to management links without S2 overrides*/
.entry-interaction-links li:before, .comment-interaction-links li:before, .view-flat:before, .view-threaded:before, .view-top-only:before, .expand_all:before {content:"(";}
.entry-interaction-links li:after, .comment-interaction-links li:after, .view-flat:after, .view-threaded:after, .view-top-only:after, .expand_all:after {content:")";}

/*Comment header and content styling*/
.comment .userpic {display:table-cell; max-width:100px;}
.comment .userpic img {
    display:table;
    display:inline-block\0/; /*Fix for IE8 display*/
}
.comment-info {display: table-cell; vertical-align: top; padding-left:10px;}
.poster {display: block;}
.commentpermalink, .comment .poster-ip  {margin-left:1em;}
.comment .invisible {position: relative;} /*Gives us top padding for comments with no subject */
.comment .datetime {font-size:smaller;}
.no-userpic .comment-info {padding-left:10px;}
.edittime {padding-top:1em;}
.comment-posted {font-weight:bold;}

/*Styling for comment links*/
ul.comment-management-links {display: inline;}
.comment-management-links li {display:inline; list-style: none; }
ul.comment-interaction-links {display: inline; margin: 0; }
.comment-interaction-links li {display:inline; list-style: none; }
.footer .commentpermalink {display:none;} /*Hide the duplicate permalink - we have one in the header*/

.comment {min-width:15em;}
.comment .footer { padding: .7em 0 1.2em;}

/*Styling for end of comments section*/
.bottompages { margin-bottom: 1em;}
.bottomcomment {text-align: center;}


/*Styling for collapsed comments*/
.partial h4.comment-title {font-size: 1em; display:inline; font-weight:normal;}
.partial h4.comment-title a {font-size: 1em; display:inline; font-weight:normal;}
.partial .poster {display:inline;}

/*Styling for deleted/screened comments*/
.poster-hidden {font-weight:bold;}

/*Styling for quick-reply box*/
#qrform table {margin: 0 auto;}
.comment #qrform table {margin-left:0;}
#qrform td {vertical-align:top;}
