/*---------- Manage Settings ----------*/
/*-------------------------------------*/

#manageSettings {
    }

.Subscribe {
    width: 100%;
    padding: 0;
    margin: .5em 0 0 0;
    clear: both;
    }

.Subscribe tr.Inactive {
    color: #aaa;
}

.Subscribe tr.Disabled {
    background-color: #eee;
}

.Subscribe tr.altrow {
    background-color: #f1f1f1;
}

.Subscribe tr.Inactive a {
    color: #aaa;
}

.Subscribe td {
    padding: .3em;
}

.Subscribe td img {
    border: 0;
}

.Subscribe td label {
    cursor: pointer !important;
}

.Subscribe td p {
    color: #666;
    background: #fff;
    cursor: default !important;
}

.CategoryRow .Caption {
    text-align: right;
    vertical-align: bottom;
}

.CategoryRow {
    width: 100%;
}

.CategoryRow td {
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
    padding: 2em .4em .2em .4em;
}

.CategoryRowFirst td {
    padding-top: .2em;
}

.CategoryRow .caption {
    text-align: right;
}

.CategoryRow label {
}

.CategoryHeading {
    font-weight: bold;
}

.CategoryHeadingNote {
}

#Subscriptions {
    width: 100%;
}
#Subscriptions th {
    text-align: left;
}
#Subscriptions td, #Subscriptions th {
    padding-left: .5em;
    padding-right: .5em;
}
#Subscriptions tr.lighter {
    background-color: #cff;
}
#Subscriptions tr.darker {
    background-color: #9cc;
}
div.argOptsContainer {
    display: none;
}

#SubscribeSaveButtons {
    text-align: center;
    border: 1px solid #333;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    }

#SubscribeSaveButtons input {
    margin: 5px;
}

#SubscriptionInfo {
    width: 95%;
    text-align: center;
    margin: 1em auto;
}

#SubscriptionInfo p, #SubscriptionInfo div {
    font-size: 1em;
    margin: 0;
    padding: .2em;
}

/*----------- Message Center ----------*/
/*-------------------------------------*/


.NotificationTable {
    width: 100%;
}

.NotificationTable tr.Selected {
    background-color: #cee0fb;
}

.NotificationTable tr.Selected td {
    border-top: 1px solid #ccc;
}

.NotificationTable td {
    border-top: 1px solid #ddd;
}


#NotificationSidebar {

}

#NotificationSidebar p {
    margin: 0;
    padding: 0;
}

#NotificationSidebar .Blurb {
    margin: 0 0 1em 0;
    padding: 0;
}

#NotificationSidebar .BlurbTitle {
    font-weight: bold;
    margin: 0 0 .4em 0;
}

#NotificationSidebar .ljad {
    float: left;
    margin-right: 1em;
}

.esnlinks {
    float: right;
    display: block;
    margin: 0 0 0 0;
    font-weight: normal;
    }

.NotificationTable .inbox {
    padding: 0;
    margin: 0em 0 0em 0;
    border-top: 1px solid #ddd;
}

.inbox .header {
    width: 100%;
    margin: 0;
    background: #ddd;
    vertical-align: middle;
    border: 0;
    padding: 3px;
}

.actions {
    font-size: 0.9em;
}

span.Pages {
    float: right;
}

span.Pages input {
}

.inbox tr {
    cursor: pointer;
}

.inbox_newitems {
    font-weight: bold;
    overflow: hidden;
}

.InboxItem_Controls {
    float: left;
    width: 40px;
}

.InboxItem_Unread {
    font-weight: bold;
    }

.InboxItem_Read {
    color: #888;
}

span.InboxItem_Read:hover {
    color: #000;
}

span.InboxItem_Read a {
    color: #999 !important;
}
span.InboxItem_Read:hover a {
    color: inherit !important;
}

.InboxItem_Meta {

}

.InboxItem_Meta td {
    padding: 0 0 0 0;
}

.inbox .alt {
    background: #f6f6f6;
}

.inbox .alt td {
}

.inbox .checkbox {
    width: 1%;
    padding: .1em;
    vertical-align: top;
}

.inbox td.NoItems {
    font-size: 3em;
    text-align: center;
    padding: 1em;
    color: #ddd;
    cursor: default !important;
}

.inbox td.item {
    padding: .3em 0 .2em .4em !important;
    vertical-align: middle;
}

.InboxItem_Content {
    padding: .5em 0 .2em 0;
    width: 95%;
}

.inbox td.time {
    width: 8.5em;
    font-size: .8em;
    color: #555;
    vertical-align: top;
    padding-top: .4em;
}

.inbox .JournalNewComment {
}

.inbox .Subject {
    font-weight: bold;
}

.inbox .ManageButtons {
    float: right;
    width: 104px;
    position: relative;
    top: 4px;
    margin: 0 0 .5em 0;
}

.inbox .Body {
}

.NotificationTable tr.Selected .Body {
}

/* folder links */
.folders a {
    white-space: nowrap;
    text-decoration: none;
    color: #000;
    display: block;
    margin: 0px;
    padding: 0px 0px 1px 2px;
    border: 1px solid #fff;
}
.folders a.subs {
    padding-left: 1em;
}
.folders .subs {
    padding-left: 1em;
}
.folders a.subsubs {
    padding-left: 2em;
}
.folders a:visited, .folders a:link {
    color: #000;
}
.folders a:hover {
    border: 1px solid #bbb;
    background-color: #eee;
}

/**** ESN AJAX ****/
.ippu {
    color: #000000
}

.ippu .track_title {
    font-weight: bold;
    color: #CC6644;
    margin: 4px;
}

.ippu .track_btncontainer {
    margin-top: 5px;
    padding: 1px;
    width: 250px;
}

.ippu .track_moreopts {
    margin: auto auto auto 1em;
    width: 49%;
}

.ippu .track_savechanges {
    margin: auto auto auto auto;
    width: 49%;
}

#compose label {
    font-weight: bold;
}

