/*---------- Manage Settings ----------*/
/*-------------------------------------*/

#manageSettings {
    }

.Subscribe {
    width: 100%;
    padding: 0;
    margin: .5em 0 0 0;
    clear: both;
    }

.Subscribe td {
    padding: .3em;
}

.Subscribe td img {
    border: 0;
}

.Subscribe td label {
    cursor: pointer !important;
}

.Subscribe td p {
    cursor: default !important;
}

.Subscribe tr.altrow {
    background-color: #f1f1f1;
}

.CategoryRow .Caption {
    text-align: right;
    vertical-align: bottom;
}

.CategoryRow {
    width: 100%;
}

.CategoryRow td {
    vertical-align: middle;
    padding: 2em .4em .2em .4em;
}

.CategoryRowFirst td {
    padding-top: .2em;
}

.CategoryRow .caption {
    text-align: right;
}

.CategoryRow label {
}

.CategoryHeading {
    font-weight: bold;
}

.CategoryHeadingNote {
}

#Subscriptions {
    width: 100%;
}
#Subscriptions th {
    text-align: left;
}
#Subscriptions td, #Subscriptions th {
    padding-left: .5em;
    padding-right: .5em;
}

div.argOptsContainer {
    display: none;
}

#SubscribeSaveButtons {
    text-align: center;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    }

#SubscribeSaveButtons input {
    margin: 5px;
}

#SubscriptionInfo {
    width: 95%;
    text-align: center;
    margin: 1em auto;
}

#SubscriptionInfo p, #SubscriptionInfo div {
    font-size: 1em;
    margin: 0;
    padding: .2em;
}

/*----------- Message Center ----------*/
/*-------------------------------------*/


.NotificationTable {
    width: 100%;
}

#NotificationSidebar {

}

#NotificationSidebar p {
    margin: 0;
    padding: 0;
}

#NotificationSidebar .Blurb {
    margin: 0 0 1em 0;
    padding: 0;
}

#NotificationSidebar .BlurbTitle {
    font-weight: bold;
    margin: 0 0 .4em 0;
}

.esnlinks {
    float: right;
    display: block;
    margin: 0 0 0 0;
    font-weight: normal;
    }

.NotificationTable .inbox {
    padding: 0;
    margin: 0em 0 0em 0;
}

.NotificationTable td {
    border-top-width: 1px;
    border-top-style: solid;
}

.inbox .header {
    width: 100%;
    margin: 0;
    vertical-align: middle;
    border: 0;
    padding: 3px;
}

.actions {
    font-size: 0.9em;
}

span.Pages {
    float: right;
}

span.Pages input {
}

.inbox tr {
    cursor: pointer;
}

.inbox_newitems {
    font-weight: bold;
    overflow: hidden;
    padding-bottom: .5em;
}

.InboxItem_Controls {
    float: left;
    width: 40px;
}

.InboxItem_Unread {
    font-weight: bold;
    }

.InboxItem_Meta {

}

.InboxItem_Meta td {
    padding: 0 0 0 0;
}

.inbox .alt td {
}

.inbox .checkbox {
    width: 1%;
    padding: .1em;
    vertical-align: top;
}

.inbox td.NoItems {
    font-size: 3em;
    text-align: center;
    padding: 1em;
    cursor: default !important;
}

.inbox td.item {
    padding: .3em 0 .2em .4em !important;
    vertical-align: middle;
}

.InboxItem_Content {
    padding: .5em 0 .2em 0;
    width: 95%;
}

.inbox td.time {
    width: 8.5em;
    font-size: .8em;
    vertical-align: top;
    padding-top: .4em;
}

.inbox .JournalNewComment {
}

.inbox .Subject {
    font-weight: bold;
}

.inbox .ManageButtons {
    float: right;
    width: 104px;
    position: relative;
    top: 4px;
    margin: 0 0 .5em 0;
}

.inbox .Body {
}

.NotificationTable tr.Selected .Body {
}

/* folder links */
.folders a {
    white-space: nowrap;
    text-decoration: none;
    display: block;
    margin: 0px;
    padding: 0px 3px 1px 2px; 
}
.folders a.selected {
    font-weight: bold;
}
.folders a.subs {
    padding-left: 2em;
}
.folders .subs {
    padding-left: 2em;
}
.folders a.subsubs {
    padding-left: 3.5em;
}


/**** ESN AJAX ****/
.track-dialog {  /* outer div */
    max-width: 80%;
}

.trackdialog .track_title, .ippu .track_title {
    font-weight: bold;
    margin: 4px;
}

.trackdialog .track_btncontainer, .ippu .track_btncontainer {
    margin-top: 5px;
    padding: 1px;
    width: 250px;
}

.trackdialog .track_moreopts, .ippu .track_moreopts {
    margin: auto auto auto 1em;
    width: 49%;
}

.trackdialog .track_savechanges, .ippu .track_savechanges {
    margin: auto auto auto auto;
    width: 49%;
}

#compose label {
    font-weight: bold;
}

td#table_inbox_folders { vertical-align: top; }

.folders { margin-top: 1em; }

.inbox-compose {
    width: 100%;
}
.inbox-compose td {
    vertical-align: top;
}
