#faq ul, #faq ol {
    margin-left: 3em;
    margin-bottom: 2em;
    list-style-position: outside;
}

.summary { font-weight: bold; }

#search-q, #search-lang { width: auto; display: inline; margin: 1em; }
#search-lang { padding-right: 2rem; }
