.lj_embedcontent-wrapper {
    overflow: hidden;
}
.lj_embedcontent-ratio {
    position: relative;
    height: 0;
    /* this technique requires a padding top, but we calculate that dynamically and put it inline */
}

iframe.lj_embedcontent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    border: 0;
}

form {
    margin: 0px;
    padding: 0px;
}

.ljclear {
    clear: both;
    margin: 0 -1px -1px 0;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
}

.nowrap {
    white-space: nowrap;
}

.lj_hourglass {
        z-index: 20000;
}

.ErrorNote .Inner {
    background-color: #FFEEEE;
    background-repeat: repeat-x;
    border: 1px solid #FF9999;
    padding: 8px;
    color: #000000;
}

.Note .Inner {
    background: #eee;
    border: 1px solid #ccc;
    padding: 8px;
    color: #000000;
}

div.lj_ippu {
    background-color: #fff;
    border: 2px solid #444;
    padding: 2px;
}

div.lj_ippu_titlebar {
    background-color: #444;
    height: 20px;
    font-weight: bold;
    color: #fff;
    width: auto !important;
    padding: 5px 0 0 5px;
}

	div.lj_ippu_titlebar div {

	}

	.lj_ippu_titlebar img {
		opacity: .25;
	}

		.lj_ippu_titlebar img:hover {
			opacity: 1;
		}

.LJ_Placeholder_Container { /* see also lj_base-ie.css */
        display: table-cell;
        vertical-align: middle;
        border: 1px dashed #ccc;
        _position: relative;
        overflow: hidden;
}

.LJ_Placeholder_Container img { /* see also lj_base-ie.css */
        cursor: pointer;
        display: block;
        margin: 0 auto;
        _position: absolute;
        _top: 45%;
        _left: 45%;
}

.ljhidden {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 0;
        margin: 0;
        border: 0;
        padding: 0;
        font-size: 0.1px;
        line-height: 0;
        opacity: 0;
        filter: alpha(opacity=0);
}

.lj_pollanswer {
}

.lj_pollanswer_loading {
        color: #CCC;
        border: 1px solid #EEE;
}

.super {
    vertical-align: super;
    font-size: .7em;
}

.notice {
    color: #f00;
}

.edittime {
    font-size: smaller;
}

.warning-background {
    background-image: url('/img/message-warning.gif');
}

.user-search-display {
    width: 300px;
    height: 105px;
    float: left;
    margin-bottom: 5px;
    margin-right: 10px;
    vertical-align: top;
}

.user-search-display table td {
    vertical-align: middle;
}

.example {
    vertical-align: top;
}

.invisible {
    position:absolute;
    left:-10000px;
    top:auto;
}

.tag-nav-trigger {
    vertical-align: bottom;
    border: none;
}

.tag-nav-trigger, .tag-nav-actions input {
    width: 16px;
    height: 16px;
    border: none;
}

.tag-nav-actions.ui-dialog .ui-dialog-content {
    padding: 0;
}

.tag-nav-actions .ui-dialog-titlebar {
    display: none;
}

.tag-nav-actions.tag-nav-none-selected {
    pointer-events: none;
    opacity: 0.35;
}

.tag-nav-active a {
    outline: 1px dashed currentColor;
}

.tag-nav-active a.tag-nav-selected {
    outline: 2px solid currentColor;
}

big big big big {  font-size: 100%; }
