/* ie6 and below css */

.LJ_Placeholder_Container {
    position: relative;
}
.LJ_Placeholder_Container img {
    position: absolute;
    top: 45%;
    left: 45%;
}

/* Vgift shop page */
.vgift .vg_img {
    height: 101px;
    width: 101px;
    margin-left: 0px;
    margin-right: 0px;
}
