.cat_head {
    padding: 1px 5px 3px 5px;
}

.field_block {
    margin: 5px 0px 5px 0px;
    border-bottom: 1px solid #fff;
}

.field_block td {
    vertical-align: top;
    padding-top: .3em;
    padding-bottom: .3em;
    padding-left: 5px;
}

.field_name {
    padding-right: 5px;
    padding-left: 2px;
    white-space: nowrap;
    font-size: .9em;
    font-weight: bold;
    text-align: right;
    width: 145px;
}
.field_block .field_name {
    padding-top: .6em;
}

.helper {
    font-size: 0.8em;
    padding-right: 3em;
}

.helper li {
    font-size: 1em;
}

.helper td {
    font-size: 1em;
}

.example p {
    font-size: 0.8em;
}

.section_head {
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px;
}

.section_head td {
    padding: 5px;
}

.section_subhead {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 5px;
    border-bottom: 3px ridge #fff;
}

.section_subhead td {
    padding: 3px 5px;
}

.selectvis label {
    font-size: 10px;
}

.selectvis select {
    width: 15em;
}

.view_options {
    margin-left: 20px;
    font-size: smaller;
    font-weight: bold;
}

#contextual_help {
    padding: .5em;
    line-height: 140%;
}

#contextual_help p {
    padding: 0;
    margin: 0;
}

#contextual_help ul {
    list-style: circle;
}

.bday_field input {
    display:  inline-block;
}