/* homepage styles */

#promobox-wrapper {
    width: 548px;
    margin-bottom: 3px;
}
/* .pkg class wraps enclosing block element around inner floated elements */
#promobox-wrapper:after {
    content: " ";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
}
#promobox-wrapper { display: inline-block; }
/* no ie mac \*/
* html #promobox-wrapper { height: 1%; }
#promobox-wrapper[class] { height: auto; }
#promobox-wrapper { display: block; }
/* */

#home_main {
    min-height: 200px;
    padding: 0 2%;
    color: #413723;
    width: 45%;
    float: left;
}
* html #home_main {
    height: 180px;
}
#home_main p {
    margin: 0 0 10px 0;
}
#promobox-bullets {
    float: left;    
    width: 51%;
    padding-top: 5px;
}
#promobox-bullets a {
    text-decoration: underline !important;
}
#lj-bulletlist {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
}
#lj-bulletlist li {
    font-size: 0.8em;
    margin: 0 0 8px 0;
    padding: 0;
}
* html #lj-bulletlist li {
    margin: 0 0 3px 0;
}
#lj-bulletlist li a {
    display: block;
    color: #036;
    padding: 6px 0 8px 30px;
    text-decoration: none;
}
* html #lj-bulletlist li a {
    display: inline-block;
}
#lj-bulletlist li a:hover {
    color: #69C;
}

table.stats-meter {
    width: 163px;
    border: 1px solid #cbcbcb;
    border-collapse: collapse;
}
.stats-meter td {
    border: 1px solid #cbcbcb;
    border-collapse: collapse;
    padding: 0.1em 0.2em 0em 0.2em;
    font-weight: bold;
}
.news .subject {
    color: #036;
    font-weight: bold;
}
.news .date {
    color: #909090;
    font-weight: bold;
}
.sub_head {
    color: #036;
    font-size: 1.2em;
    font-weight: bold;
}
.link_span {
    padding: 5px 0px 5px 0px;
    text-decoration: underline;
}
.mousearea {
    text-decoration: none;
}

/* logged out homepage styles */

.homepage-wrapper {
    width: 720px;
}
.homepage-wrapper #homepage-features {
    margin-bottom: 20px;
    background: #CFE7FF;
    padding-bottom: 5px;
    border: 1px solid #6A9AC2;
}
.homepage-wrapper .columns-2-left {
    width: 443px !important;
}
.homepage-wrapper .columns-2-right {
    width: 275px !important;
}
* html .homepage-wrapper .columns-2-left {
    width: 433px !important;
}
* html .homepage-wrapper .columns-2-right {
    width: 285px !important;    
}
.homepage-wrapper .intro {
    line-height: 140%;
    color: #1F3368;
    margin: 5px 0 0 0;
    padding: 0 12px;
    font-size: 120%;
    font-weight: normal !important; 
}
.homepage-wrapper .intro.detail {
    font-size: 95% !important;
    margin-bottom: 10px;
}
* html .homepage-wrapper .intro.detail {
    font-size: 11px !important;
}
.homepage-wrapper .join {
    margin-bottom: 10px;
}
.homepage-wrapper .join h3 {
    font-size: 15px;
    text-align: center;
    margin-bottom: 12px;
}
.homepage-wrapper .join div {
    background-color: #fff;
    border: 1px solid #B5CDE1;
    border-right: 1px solid #6A9AC2;
    border-bottom: 1px solid #6A9AC2;
    padding: 8px 6px;
    margin: 8px 8px 8px 0;
}
.homepage-wrapper .join p.detail {
    font-size: 11px !important;
    color: #1F3368 !important;
    margin: 0 0 4px 0;
    text-align: center;
    font-weight: bold;
}
.homepage-wrapper .homepage-tourlink {
    text-align: center;
    margin: 4px 0 0 0 !important;
    font-size: 11px;
}
.homepage-tour {
    margin: 0 0 4px 0;
    font-size: 11px; 
    clear: left;
    text-align: center;
}
.homepage-tour ul li {
    float: left;
    width: 158px;
    height: 120px;
    padding: 8px;
    margin-right: 8px;
    background-color: #eee;
}
.homepage-tour ul li.last {
    margin-right: 0;
}
.homepage-wrapper .appwidget-journalspotlight {
    width: 405px;
    float: left;
    margin: 0 15px 5px 0;
}
.homepage-wrapper .ljad {
    float: left;
    margin-bottom: 15px;
}
.homepage-wrapper h3 {
    font-style: normal;
    margin: 0 0 18px 0;
    font-size: 1.2em;
    line-height: 1em;
}
.getstarted-home {
    text-align: center;
    margin: 0 0 4px 0;
}
.homepage-wrapper input.start {
    font-size: 130%;
    color: #fff;
    margin: 8px 0;
    background: #559A40;
    border: 2px solid #76AE65;
    border-bottom: 2px solid #447C33;
    border-right: 2px solid #447C33;
}
.homepage-wrapper input.start:hover {
    background: #447C33;
}
.homepage-wrapper .homepage-facts {
    position: relative;
    clear: left;
    padding-bottom: 0px;
}
.homepage-wrapper .homepage-facts h2 {
    padding: 0 0 6px 0;
    border-bottom: 1px solid #ccc;
    margin: 0 0 10px 0;
}
.homepage-wrapper .homepage-facts p.detail {
    font-size: 90% !important;
    margin-top: 0px;
}
.homepage-wrapper .homepage-stats {
    width: 300px;
    float: right;
}
.homepage-wrapper .homepage-stats p {
    margin: 0 0 8px 0; 
}    
.homepage-wrapper .appwidget-publicstats {
    width: 280px;
    float: right;
    margin: 6px 0 !important;
    padding: 6px 10px;
    background: #ffd;
    border-top: 1px solid #fc3;
    border-bottom: 1px solid #fc3;
}
.homepage-wrapper .appwidget-publicstats .stats-total {
    background-color: #ffd;
    border-bottom: 1px solid #fff;
}
.homepage-wrapper .appwidget-publicstats .stats-daily {
    background-color: #ffd;
}
.homepage-wrapper .appwidget-publicstats .stats-total p,
.homepage-wrapper .appwidget-publicstats .stats-daily p {
    margin: 0 0 6px 0 !important;
}
.homepage-wrapper .appwidget-publicstats .statmeter {
    margin: 0 !important;
    padding: 0 !important;
}
.homepage-wrapper .appwidget-publicstats .stats-meter td {
    border: none !important;
    padding: 0 !important;
    background: none !important;
}

/* homepage promos  */
.homepage-wrapper .homepage-promo {
    clear: left;
    float: left;
    width: 389px;
    padding-right: 15px;
    margin-bottom: 50px;
    min-height: 250px;
}
*:first-child+html .homepage-wrapper .homepage-promo {
    padding-bottom: 50px; /* IE7 hack so promos don't overlap frank */
}

/* frank widget  */
.homepage-wrapper .appwidget-frank {
    margin-bottom: 0 !important;
    clear: both;
    position: absolute;
    right: 0px;
    bottom: 0;
    width: 400px;
}
.homepage-wrapper .appwidget-frank h2 {
    margin: 0 0 6px 0;
    border: none;
    padding: 0;
    margin: 0 130px 0 0;
    text-align: right;
    background: none;
}
.homepage-wrapper .appwidget-frank .frank-says {
    position: absolute;
    right: 130px;
}
.homepage-frankimage {
    float: right;
}
.homepage-wrapper .appwidget-frank p {
    font-size: 11px !important;
    margin: 0;
}
#frankpic {
    display: block;    
    text-align: center;
    padding: 20px 0 0 274px;
    position: relative; 
    height: 80px;
    font-size: 12px;    
    color: #036;
    text-decoration: none;
}
#frankpic:hover {
    background-position: 190px -125px !important;
}
#frankpic.pee:hover {
    background-position: 190px -250px !important;
}
#frankpic span {
    font-weight: bold;
    font-size: 14px;
}
