#media-grid {
    margin: 0;
}

#media-grid .media-item {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
    min-width: 50px;
    width:32%;
}

#media-grid .media-item .inner {
    vertical-align: top;
    margin: 1em;
    outline: 1px #666 solid;
    padding: 1em;
    min-width: 50px;
    -webkit-box-shadow: 1px 2px 3px 1px rgba(200, 200, 200, 1);
    box-shadow: 1px 2px 3px 1px rgba(200, 200, 200, 1);
}

#media-grid .media-item .media {
    height: 200px;
    width: 200px;
    line-height: 200px;
    margin: auto;

}

#media-grid .media-item div {
    margin: 0; padding: 0;
    text-align: center;
}

#media-grid .name {
    height: 3.4em;
}


.media-item .name {
    font-weight: bold;
}

#media-list .media-item {
    list-style-type: none;
    display: block;
}

#media-list .media-item .inner {
    padding: 1em 0;
}


#media-list .media-item .media {
    padding: 0 1em 1em 1em
}

.media-item .details, .media-item .description {
    padding-bottom: 0.5em;
}

.media-item .dimensions, .media-item .time {
    font-size: smaller;
    font-style: italic;
    }

.embed {padding: 0 1em;}

@media screen and (min-width: 64.036em) {
.edit label, .embed label {
    text-align: right;
}

}