#media-grid .media-item {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    margin: 2em 1em;
    outline: 1px #666 solid;
    padding: 1em;
    min-width: 50px;
    -webkit-box-shadow: 1px 2px 3px 1px rgba(200, 200, 200, 1);
    box-shadow: 1px 2px 3px 1px rgba(200, 200, 200, 1);
}

#media-grid .media-item img {
    max-height: 300px;
    outline: 1px #eee solid;
    margin: 0 auto 1em auto;
    display: block;
}

#media-grid .media-item p {
    margin: 0; padding: 0;
    text-align: center;
}

#media-grid .media-item .name {
    font-weight: bold;
}

#media-grid .media-item .filesize {
    font-size: smaller;
    font-style: italic;
}

#media-list .media-item {
    list-style-type: none;
    display: block;
}

#media-list .media-item .inner {
    padding: 1em 0;
}

#media-list .media-item p, #media-list .media-item select, #media-list .media-item img {
    display: inline-block;
    margin: 0 1em;
}

#media-list .media-item .media {
    width: 200px;
    padding: 0 1em 0 0;
}

#media-list .media-item img {
    max-width: 200px;
    max-height: 200px;
}

#media-list .details {
    width: 10em;
}
#media-list .filesize {
    font-size: smaller;
    font-style: italic;
    display: none;
}

#media-list .name {
    display: none;
}

fieldset.submit {
    text-align: right;
}
fieldset.submit input {
  margin-top: 2em;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  line-height: 1;
  padding: 3px 8px 4px;
  text-align: center;

  font-size: 1.2em;
  line-height: 1.5em;
}

fieldset.destructive input {
  border: 0;
  background: transparent;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;

  font-size: 0.9em;
  text-decoration: underline;
  margin-right: 2em;
  float: left;
}
