.module {
    margin-bottom: 20px;
    position: relative;
}

.main-module {
    background-color: #ecf6ff;
    padding-bottom: 5px;
}

.module h2.header {
    font-size: 14px;
    clear: left;
    font-family: Arial;
    font-weight: bold;
    background: #ededed url(/img/corner.gif) no-repeat 0 0;
    margin: 0 0 8px 0;
    padding: 5px 8px;
    color: #222;
}

.module h2.main-header {
    background-color: #ffd8d8;
}

.module .header-right-link {
    position: absolute;
    right: 7px;
    top: 6px;
    font-size: 11px;
    text-decoration: none;
    padding-left: 10px;
    text-transform: lowercase;
    color: #114577 !important;
    background: url('/img/arrow-double-blue.gif') no-repeat 0 60%;
}

.module .header-right-link:hover {
    text-decoration: underline;
}

.module .content {
    padding: 0 10px;
}

.module .main-content {
    background-color: #ecf6ff;
}
