.minimal .component h3 {
  display: none;
}

.minimal .component label, .minimal #post_as fieldset legend {
  width: 40% !important;
  padding-right: 5px;
  text-align: right;
}

.minimal #primary .component, .minimal #secondary .component, .minimal #tertiary .component {
  border: 0;
}

.minimal .column {
  border-width: 1px;
  border-style: solid;
}


.midimal .component h3 {
  font-weight: bold;
  font-size: 100%;
  background-color: transparent;
  text-decoration: underline;
  padding-top: 0;
  padding-bottom: 0;
}

.midimal .component label, .midimal #post_as fieldset legend {
  width: 40% !important;
  padding-right: 5px;
  text-align: right;
}

.midimal #primary .component, .midimal #secondary .component, .midimal #tertiary .component {
  border: 0;
}

.midimal .column {
  border-width: 1px;
  border-style: solid;
}

