/* Fluid layout when resizing */
@media (min-width: 0) {
  /* don't need the min-width for browsers which understand media queries*/
  .column {
    min-width: 0;
  }
  .entry-full-width #secondary {
    float: left;
  }
  .entry-full-width #tertiary {
    float: right;
  }

  /* entry field forced to smaller space, for slightly narrower windows */
  #entry_field_width p.note {
    display: none;
  }
}

@media (min-width: 1024px) {
  /* entry field forced to full screen, for wide windows */
  .entry-full-width #primary {
    width:100%;
  }

  .entry-full-width #secondary {
    clear:left;
    width:33%;
    padding-top:.5em;
  }

  .entry-full-width #tertiary {
    width:66%;
  }
}

@media (max-width: 1023px) {
  .entry-full-width #primary {
    width:100%;
  }

  .entry-full-width #secondary {
    clear:left;
    width:33%;
    padding-top:.5em;
  }

  .entry-full-width #tertiary {
    width:66%;
  }

  .entry-partial-width #primary, .entry-partial-width #tertiary {
    width: 72%;
  }
  .entry-partial-width #secondary {
    width: 26.5%;
    clear: none;
    padding-top: 0;
  }
}

@media (max-width: 800px) {
  .entry-full-width #primary, .entry-partial-width #primary {
    width:100%;
  }

.entry-full-width #secondary, .entry-partial-width #secondary {
    clear:left;
    width:100%;
    margin-bottom:.5em;
  }

 #secondary.ui-sortable {
    padding: 0 !important;
 }

 .ui-sortable {
    min-height: 50px;
 }

  .entry-full-width #tertiary, .entry-partial-width #tertiary {
    width:100%;
    clear:both;
  }

  .entry-field-options {
    display: none;
  }

  #entry_field_width p.note {
    display: block;
  }

  .panels_column li {
    width:30%;
  }
}


/* narrow screens, mobile phones */
@media screen and (max-width: 550px), only screen and (max-device-width: 480px) {
  .entry-full-width #primary, .entry-partial-width #primary {
    width:100%;
  }

.entry-full-width #secondary, .entry-partial-width #secondary {
    clear:left;
    width:100%;
    margin-bottom:.5em;
  }

  #secondary .component,
  #tertiary .component {
    width:100%;
  }

  .entry-full-width #tertiary, .entry-partial-width #tertiary,
  #tertiary .column {
    width:100%;
    clear:both;
  }

  .entry-field-options {
    display: none;
  }

  #entry_field_width p.note {
    display: block;
  }
  .panels_column li {
    width:45%;
  }

  #shim-alpha {
    height:13em;
  }
  #menu {
    top:14em;
  }

  #masthead {
    height:17em;
  }

  #account-links {
    top:5em;
  }
}
