#profile_page {
    margin: 0 10px 0 0;
}
#profile_page p {
    margin-bottom: 0 !important;
}

.left {
    float: left;
}
.right {
    float: right;
}
.clear_right {
    clear: right;
}
.clear_left {
    clear: left;
}


/* start top box */

#profile_top {
    margin: 15px 0 25px 0;
}
.userpicdiv {
    float: left;
    width: 100px;
    text-align: center;
    padding: 2px 0 0 0;
}
.user_pic {
    margin: 0;
    border: 0;
}
.user_pic_caption {
    font-size: 0.7em;
}
.section_head {
    margin: 2px 0 0 0;
    font-size: 1.1em;
    padding: 0;
    padding: 2px;
}

.actions {

}
    .actions ul {
        display: block;
        float: right;
        list-style: none;
        margin: 0;
    }
    .actions li {
        display: block;
        padding: 3px 5px;
        list-style: none;
        line-height: 18px;
        font-size: 0.9em;
        font-weight: bold;
    }
    .actions img {
        border: 0;
        padding-right: 3px;
        float: left;
    }
    .actions span {
        display: block;
        margin-top: 2px;
    }
.user_details {
    margin: 5px 0 20px 0;
    float: left;
    width: 70%;
}

.user_details_inner {
    margin: 0 0 0 115px;
}

.details_journal {
}
    .details_journal .journal_title {
        font-size: 1em;
        font-weight: bold;
        font-size: larger;
    }
    .details_journal .journal_subtitle {
        font-style: italic;
    }

.details_stats {
    padding-right: 20px;
}
    .details_stats p {
        font-weight: normal;
    }
    .details_stats a {
        font-weight: normal;
        font-size: 1em;
    }
    .details_stats .journal_warnings {
        margin-top: 5px;
    }
        .details_stats .journal_adult_warning,
        .details_stats .statusvis_msg {
            font-weight: bold;
        }

.user_details p, .user_details_bottom {
    margin: 0;
    padding: 0;
}
.user_details_bottom {
    font-size: 0.85em;
    padding-top: 5px;
    font-weight: bold;
}
    .user_details_bottom a, .user_details_bottom span {
        font-weight: normal;
    }

/* end top box */

.section {
    font-size: 1.1em;
    font-weight: bold;
    margin: 10px 0 10px 0;
    padding: 2px;
    clear: both;
    background: #eee;
}
    .section span.section_link {
        font-size: 0.75em;
        font-weight: normal;
    }

    .section img, .username img {
        padding-left: 3px;
    }

.section_body {
    padding: 0 20px 10px 20px;
}
    .section_body .inner_section_header {
        font-weight: bold;
        margin: 10px 0 0 0;
    }
        .section_body .inner_section_header_link {
            font-size: 0.8em;
            font-weight: normal;
            }
    .section_body .first {
        margin: 0;
    }
    .section_body .inner_section_body {
        margin: 0;
    }
    .section_body .alt_friends {
        margin: 1px 0 0 0;
    }
span.expandcollapse {
    cursor: pointer;
}
    .section_body .inner_section_header span.expandcollapse img {
        margin-left: -17px;
    }

.firsttwo {
    clear: none;
    margin-right: 310px;
}

.section_body_title {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.profile, .external_services, .user_info_contact {
    padding-bottom: 10px;
}

.profile {
    float: left;
    margin-right: 70px;
}

.profile th {
    font-weight: bold;
    text-align: right;
    padding-right: 0.3em;
}

.profile th,
.profile td {
    vertical-align: top;
}

.contact {
    float: left;
}

.external_services {
    margin: 10px 70px 0 0;
}
.external_services img {
    padding-right: 3px;
    max-width: 19px;
}
.external_services ul {
    -webkit-column-width: 15em;
    -moz-column-width: 15em;
    column-width: 15em;
    list-style-type: none;
}
.external_services ul li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.external_services div.im_icon {
    text-align: center;
    display: inline;
    width: 19px;
}
.external_services div.im_icon img {
    border: 0;
}
