.simple-form {
    overflow: auto;
}

.simple-form .inner {
    float: left; /* align the submit button */
}

.simple-form fieldset {
    position: relative;
    float: left;
    clear: both;
    margin: 0 2em;
    padding: 0 0 1.5em 0;
    border-style: none;
}

.simple-form fieldset legend {
    padding: 0;
    font-weight: bold;
}

.simple-form fieldset legend span {
    top: 0;
    left: 0;
    position: absolute;
    margin: 0.5em 0 0 0;
    font-size: 1.25em;
    display: block;
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.simple-form fieldset ul {
    float: left;
    list-style: none;
    padding: 2.5em 0 0 0;
    margin: 0;
    width: 100%;
    zoom: 1;
}

.simple-form label {
    float: left;
    width: 11em;
    margin-right: 0.2em;
    padding: 0.2em 0.8em 0.2em 0.2em;
}
.simple-form li {
    float: left;
    clear: left;
    width: 100%;
    margin-bottom: 0.2em;
}

.simple-form .error-list li {
    float: none;
}

/* Submit/action buttons */
.simple-form fieldset.submit {
    float: right;
    width: auto;
    text-align: right;
    padding: 1em 0;
    margin:0 2em;
}
.simple-form fieldset.destructive {
   float: left;
   clear: none;
   width: auto;
   text-align: left;
   margin-right: 3em;
   line-height: 3em;
}

.simple-form fieldset.submit input {
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  line-height: 1;
  padding: 3px 8px 4px;
  text-align: center;

  font-size: 1.2em;
  line-height: 1.5em;
}

.simple-form fieldset.destructive input {
  font-size: 1em;
  line-height: 1em;
}

/* Nested Fieldsets */
.simple-form fieldset fieldset {
    margin: 0 0 -1em 0;
    background-color: transparent;
}
.simple-form fieldset fieldset ul {
    padding: 0 0 0 12.2em;
    margin: 0;
    width: auto;
}
.simple-form fieldset fieldset legend {
    font-weight: normal;
    width: 11em;
}
.simple-form fieldset fieldset legend span {
    display: block;
    width: 11em;
    margin: 0;
    padding: 0.2em 0.8em 0.2em 0.2em;
    font-size: 1em;
    border-style: none;
}
.simple-form fieldset fieldset label {
    float: none;
    width: auto;
    margin-right: auto;
    background-color: transparent;
}

