.simple-form fieldset {
    position: relative;
    float: left;
    clear: both;
    margin: 0 2em;
    padding: 0 0 1.5em 0;
    border-style: none;
}

.simple-form fieldset legend {
    padding: 0;
    font-weight: bold;
}

.simple-form fieldset legend span {
    top: 0;
    left: 0;
    position: absolute;
    margin: 0.5em 0 0 0;
    font-size: 1.25em;
    display: block;
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.simple-form fieldset ul {
    float: left;
    list-style: none;
    padding: 2.5em 0 0 0;
    margin: 0;
    zoom: 1;
}

.simple-form label {
    float: left;
    width: 11em;
    margin-right: 0.2em;
    padding: 0.2em 0.8em 0.2em 0.2em;
}
.simple-form li {
    float: left;
    clear: left;
    width: 100%;
    margin-bottom: 0.2em;
}

.simple-form .error-list li {
    float: none;
}

/* Submit/action buttons */
.simple-form fieldset.submit {
    float: none;     
    width: auto;
    text-align: center;
    padding: 1em 0;
    margin:0;
}

/* Nested Fieldsets */
.simple-form fieldset fieldset {
    margin: 0 0 -1em 0;
    background-color: transparent;
}
.simple-form fieldset fieldset ul {
    margin: 0 0 0 12.2em;
    padding: 0;
}
.simple-form fieldset fieldset legend {
    font-weight: normal;
    width: 11em;
}
.simple-form fieldset fieldset legend span {
    display: block;
    width: 11em;
    margin: 0;
    padding: 0.2em 0.8em 0.2em 0.2em;
    font-size: 1em;
    border-style: none;
}
.simple-form fieldset fieldset label {
    float: none;
    width: auto;
    margin-right: auto;
    background-color: transparent;
}

