#settings td {
	vertical-align: top;
	}
	
#settings .setup {
	background: #efefef;
	border: 1px solid #a6a6a6;
	padding: 0 .5em .5em .5em;
	} 

#SMS_Setup {
	padding: 1em 0 0 1em;
	margin: 0 0 1em 0;
	}

	#SMS_Setup span.Label {
		font-weight: bold;
		}
		
	#SMS_Setup td {
		vertical-align: top;
		padding: .4em 0;
		}

.send {
	margin: 1em 0 0 0;
	border: 1px solid #ddd;
	padding: 1em;
	}

	.send .quota {
	    font-size: 1.6em;
	    }

.receive {
	    margin: 1em 0 0 0;
	    border: 1px solid #ddd;
	    padding: 1em;
	    }

	.receive .quota {
	    font-size: 1.6em;
	    }

.label {
	margin: 0 0 .2em 0;
	}

.note {
	font-size: smaller;
	margin: .3em 0 0 0;
	}

.toggle {
	padding: .5em 0 0 0;
	}