#cf-select, #cf-edit, #cf-filtopts, #cf-intro {
    background-color: #ddd;
    border: solid 1px #bbb;
    margin: 5px;
    padding: 3px 5px 2px 5px;
    clear: both;
}

#cf-edit { display: none; }
#cf-save { float: left; width: 50%; text-align: center; vertical-align: center; }
#cf-hourglass { display: none; }
#cf-make-new { float: right; width: 30%; text-align: right; }
#cf-rename { display: none; }
#cf-select-filter { float: left; width: 20%; }
#cf-delete { margin-right: 10px; display: none; text-decoration: underline; }
#cf-unsaved { color: red; font-weight: bold; font-size: larger; display: none; }
#cf-notin { width: 18%; float: left; padding: 5px; }
#cf-in { width: 18%; float: left; padding: 5px; }
#cf-options { width: 60%; float: right; padding: 5px; }
#cf-in-list { width: 100%; }
#cf-notin-list { width: 100%; }
#cf-add-box { float: left; }
#cf-del-box { float: right; }
#cf-t-box, #cf-ac-box, #cf-pt-box { padding: 5px; }
#cf-t-box2, #cf-t-box3 { padding: 10px; display: none; }
#cf-filtopts, #cf-options { display: none; }
#cf-opts-box { border: solid 1px #bbb; width: 98%; padding: 5px; }
#cf-notagsavail, #cf-notagssel { display: none; font-style: italic; padding: 10px; }
#cf-free-warning { display: none; margin: 10px; font-weight: bold; }

.cf-tag-on { font-weight: bold; }
.cf-tag { text-decoration: underline; margin: 3px; }
.cf-tag:hover { background-color: #ccc; }

#cf-filtopts { padding: 5px; }
#cf-filtopts h4, #cf-filtopts p, #cf-filtopts label { display: inline; margin-right: 1em;}
#cf-filtopts input { text-align: right; }
