/* support */

.supporttable th,
.supporttable td {
    padding: 1em;
    border: 1px solid #000;
    background: transparent;
}

.header {
    margin-top: 2em;
}

.request-form select {
    display: inline;
    width: auto;
    padding-right: 2rem;
    font-size: 85%;
}

.request-form input, .request-form textarea {
    display: inline;
    width: auto;
}

.request-form label.checkboxlabel {
    margin: 0;
}

.support-request {
     margin-bottom: 2em;
}

.support-request .row {
     padding: 0.15em 0;
}

.support-reply, .requestdiv, .default {
    border: 3px solid #000;
    padding: 1em;
}

.internal {
    border: 3px dotted #ff0000;
}

.answer {
    border: 3px solid #00c000;
}

.screened {
    border: 3px dashed #afaf00;
}

fieldset.internal {
    padding: 1em;
}
fieldset.internal legend span {
    box-sizing: border-box;
    padding-left: 1em;
}
