/* support */

.supporttable th,
.supporttable td {
    padding: 1em;
    border: 1px solid #000;
    background: transparent;
}

.support-requesttable td {
    vertical-align: top;
    padding-left: 1em;
    padding-right: 1em;
}

.support-requesttable-internal, .support-requesttable-answer, .support-requesttable-screened, .support-requesttable-default {
    width: 100%;
}

.support-requesttable-internal td {
    border: 3px solid #ff0000;
    padding: 1em;
}

.support-requesttable-answer td {
    border: 3px solid #00c000;
    padding: 1em;
}

.support-requesttable-screened td {
    border: 3px solid #afaf00;
    padding: 1em;
}

.support-requesttable-default td, .requestdiv {
    border: 3px solid #000;
    padding: 1em;
}

