#entrysubj {
    font-weight: bold;
    font-style: italic;
    font-size: larger;
    margin-top: 10px;
    margin-bottom: 10px;
}

#poster {
    margin-top: 10px;
}

#qrform {
    padding-bottom: 20px;
}

#qrform td, .talkform td {
    padding: 2px;
    vertical-align: top;
}
#qrform td a {
    vertical-align: top;
}

.userpic {
    margin-bottom: 0px;
    vertical-align: bottom;
}

.attrib {
    vertical-align: bottom;
    padding-left: 10px;
}

.time {
    font-style: italic;
}

.currents td {
    padding-right: 10px;
}


.commentsubject {
    font-size: larger;
    font-weight: bold;
}

.datepost {
    font-size: smaller;
}

.talkargs {
    padding-left: 10px;
    padding-right: 10px;
}

.spacer {
    padding: 0;
}
.cmtbar {
    padding: 0;
    min-width: 10em;
}
.cmtpartial {
    min-width: 10em;
}

.cmtbar .icon {
    float: left;
}
.cmtbar .icon img {
    display: block;
    padding: 0 10px 0 0;
}
.cmtbar.noicon {
    padding-left: 10px;
}

.cmtbar a img { /*comment action buttons*/
    padding: 0 5px;
}

.commentbody {
    margin-bottom: 15px;
    padding: 0;
}

a .userpic-img {
    border: none;
}

.action-box img {
    display: block;
}

/* Specify width to fix alignment issue in FF */
#Comments .action-box .inner {
    width: 100%;
}
