body { font-family: sans-serif; padding: 0; margin: 0; }
p { line-height: 1.5em; margin: 0; padding: 0;}
textarea { height: 2.5em; width: 50%; display: block; }

form, .textcaptcha {padding: 0 !important; margin: 0;}
