.clear {
    clear: both;
    }

h1 a {
	color: #036;
	font-size: 1em;
	}

#alpha {
	float: right;
	width: 20em;
	margin: .8em 0 0 0;
	}
	
	#alpha .module {
		font-size: .9em;
		}

#beta {
	margin-right: 21em;
	}
	
.module {
	padding: 1px;
	margin: 0 0 1em 0;
	}
	
	.module .content {
		padding: .3em .5em .8em .5em;
		line-height: 130%;
		}
		
		
		.module .content .journal_title {
			font-weight: bold;
			font-size: 1.5em;
			margin: .2em 0 0 0;
			line-height: 140%;
			}
	
		.module .content .journal_sub {
			font-size: 1em;
			margin: .5em 0 0 0;
			font-style: italic;
			}
			
		.last_updated {
			font-size: .9em;
			}
			
		.school_meta {
			font-size: .9em;
			}
		
	#beta .module {
		border: none;
		}		
			
	#beta .module fieldset legend {
		background: #fff;
		color: #036;
		font-weight: bold;
		display: block;
		}
		
		#beta .module legend a {
		    text-decoration: none;
		    color: #036;
			}
			
			#beta .module legend .edit a {
			   color: #999;
			   font-size: .9em;
			   text-decoration: underline;
			   margin: 0 0 0 .2em;
			   font-weight: normal;
			   }
		
		
	.module h2 {
	    display: table;
	    width: 100%;
		position: relative;
		background: #69c;
		margin: 0;
		padding: .2em;
		font-size: 1em;
		font-weight: bold;
		color: #fff;
		height: 1.5em;
		}
		
		.module h2 a, .module h2 a:link, .module h2 a:link:visited {
		    color: #fff;
		    text-decoration: none;
		    font-size: 1.1em;
		  }
		
		.module h2 img {
		   width: 16px;
		   height: 16px;
		  }
		
		.module h2 span {
		  display: table-cell;
		  vertical-align: middle;
		  text-align: left;
		  width: 100%;
		  }
		
		.module h2 .edit {
			position: absolute;
			right: 0;
			top: .2em;
			}
			
			.module h2 .edit a {
				color: #fff;
				margin: 0 .5em 0 0;
				font-weight: normal;
				}
	
	.userpic {
		float: right;
		margin: 0 0 1em .5em;
		width: 100px;
		height: 100px;
		text-align: center;
		}
		
		.userpic a {
			font-size: .9em;
			}
			
fieldset {
	border: 1px solid #ccc;
	position: relative;
	}
	
#aboutme {
    min-height: 125px;
    }
    
.incommon {
    font-weight: bold;
    }
    
.journal_stats {
    margin: 1em 0 0 0;
    }