[%- sections.title = '.title' | ml -%]

[%- dw.need_res( 'stc/dev/classes.css') -%]
[%- dw.need_res( 'stc/tabs.css') -%]
[%- dw.need_res( 'stc/select-list.css') -%]
[%- dw.need_res( 'stc/simple-form.css') -%]
[%- dw.need_res( 'stc/table-form.css') -%]
[%- dw.need_res( 'stc/choice-list.css') -%]
[%- dw.need_res( 'stc/collapsible.css') -%]

<h2>Site content</h2>
<h3>Tables</h3>
<p>For tabular data.</p>
<p>Note: we're phasing out the use of tables that are purely for layout, but we still have some inherited from old code that are lying around, so those are still included here.</p>
<table>
<caption>Caption</caption>
<thead><th>Col 1</th><th>Col 2</th><th>Col 3</th></thead>
<tbody>
    <tr class="odd">
        <td>entire row is striped odd</td><td>odd (row)</td><td>odd (row)</td>
    </tr>
    <tr class="even">
        <td>entire row is striped even</td><td>even (row)</td><td>even(row)</td>
    </tr>
    <tr>
        <td class="odd">only one cell is striped odd</td><td>blah</td><td>blah</td>
    </tr>
    <tr>
        <td class="even">only one cell is striped even</td><td>blah</td><td>blah</td>
    </tr>
</tbody>
</table>

<p>(Like in /manage/tags -- but is this a table, or is it just layout?)</p>
<table>
<tbody>
    <tr><th>Category 1</th><td>1</td></tr>
    <tr><th>Category 2</th><td>2</td></tr>
    <tr><th>Category 3</th><td>3</td></tr>
</tbody>
</table>

<p>table.grid</p>
<table class='grid'>
<thead><tr><th>Col 1</th><th>Col 2</th></tr></thead>
<tbody>
<tr><td>1-1</td><td>2-1</td></tr>
<tr><td>2-1</td><td>2-2</td></tr>
</tbody>
</table>

<h3>Tabbed content</h3>
<p>Used in, e.g., the settings pages</p>

<ul class="tablist">
    <li class="tab"><a href="#">Tab 1</a></li>
    <li class="tab"><a href="#" class='active'>Active tab</a></li>
    <li class="tab disabled">(disabled)</li>
</ul>
<div class='tab-header'><p>Brief information about tab 1</p></div>
<div class="tab-container">tab 1 contents</div>
<div class='tab-header'><p>Brief information about tab 2</p></div>
<div class="tab-container">tab 2 contents</div>


<h3>Forms</h3>
<h4>simple-form</h4>
<form class='simple-form'>
<div class='inner'>
    <fieldset>
        <legend><span>Group 1</span></legend>
        <ul>
            <li class='odd'><label for="simple-form-input-text-short">Short label</label><input type="text" id="simple-form-input-text-short" /></li>
            <li class='even'><label for="simple-form-input-text-long">Longish long longish long longish label</label><input type="text" id="simple-form-input-text-long" /></li>
            <li class='odd'><label for="simple-form-input-password">Password</label><input type="password" id="simple-form-input-password" /></li>

            <li class='even'>
                <fieldset class='radio-group'>
                    <legend><span>A, B, or C?</span></legend>
                    <ul>
                    <li><input type="radio" id="abc1" name="abc" /><label for="abc1">A</label></li>
                    <li><input type="radio" id="abc2" name="abc" /><label for="abc2">B</label></li>
                    <li><input type="radio" id="abc3" name="abc" /><label for="abc3">C</label></li>
                    </ul>
                </fieldset>
            </li>

            <li class='odd'>
                <fieldset class='checkbox-group'>
                    <legend><span>Checkboxes</span></legend>
                    <ul>
                    <li><input type="checkbox" id="ticky1" name="ticky" /><label for="ticky1">Ticky</label></li>
                    <li><input type="checkbox" id="ticky2" name="ticky" /><label for="ticky2">Tickeh</label></li>
                    <li><input type="checkbox" id="ticky3" name="ticky" /><label for="ticky3">Check</label></li>
                    </ul>
                </fieldset>
            </li>

            <li class='even'>
                <label for="simple-form-textarea">Textarea</label>
                <textarea id="simple-form-textarea"></textarea>
            </li>

            <li class='odd error'>
                <label for="error-input">Errored <strong class='error-msg'>Reason for error</strong></label>
                <input type="text" id="error_input" />
            </li>

            <li class='even'>
                <label for="hint-input">Input with Hint</label>
                <input type="text" id="hint-input" class="hint-input" value="hint text" />
                <p class='note'>Not ideal; CSS demo only</p>
            </li>
        </ul>
    </fieldset>
    <fieldset>
        <legend><span>Group 2</span></legend>
        <ul>
            <li class='odd'>
                <label for="simple-form-select">Select from Dropdown</label>
                <select id="simple-form-select">
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <optgroup label="numbers">
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </optgroup>
                    <optgroup label="punctuation">
                        <option value=".">.</option>
                        <option value=",">,</option>
                        <option value="!">!</option>
                    </optgroup>
                </select>
            </li>

            <li class='even'>
                <label for="simple-form-select-multiple">Multi-Select</label>
                <select id="simple-form-select-multiple" class='multiple-select' multiple="multiple">
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <optgroup label="numbers">
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </optgroup>
                    <optgroup label="punctuation">
                        <option value=".">.</option>
                        <option value=",">,</option>
                        <option value="!">!</option>
                    </optgroup>
                </select>
            </li>

            <li class='odd'>
                <label for="simple-form-file">Upload file</label>
                <input id="simple-form-file" type="file" />
            </li>
        </ul>
    </fieldset>
    <fieldset class="submit">   
        <input type="submit" value="Submit" />
    </fieldset>
    <fieldset class="submit destructive">
        <input type="submit" value="Cancel/Delete/Destroy" />
    </fieldset>
</div>
</form>

<h4>table-form</h4>
<form class='table-form'>
<table>
  <caption>Table Caption</caption> 
  <thead> 
    <tr> 
      <th scope="col">Col 1</th>
      <th scope="col">Col 2</th>
      <th scope="col">Col 3</th>
      <th scope="col">Col 4</th>
    </tr> 
  </thead> 
  <tbody>
    [% FOREACH item IN [
        { col1 => "foo", col2 => "apple", col3 => "100%" },
        { col1 => "bar", col2 => "banana", col3 => "1.35%" },
        { col1 => "baz", col2 => "cream cheese cupcake", col3 => "125,000" },
    ]%]
    <tr class="[% loop.count % 2 ? 'odd' : 'even' %]">
      <td>[%item.col1%]</td> 
      <td>[%item.col2%]</td>
      <td>[%item.col3%]</td>
      <td>
        <input type="checkbox" id="check_[%item.col1%]" />
        <label for="check_[%item.col1%]">ticky (does the label need to be more descriptive?)</label></td>
    </tr> 
    [% END %]
  </tbody> 
</table>
</form>

<h4>choice-list</h4>
<form class='choice-list'>
    <fieldset>
    <ul>
        [% FOR user IN ['afuna', 'system', 'someuser' ] %]
            <li class="[% loop.count % 2 ? 'odd' : 'even' %]">
                <input type="checkbox" name="status" value="[%user%]" id="status_[%user%]" title=""/>
                <label for="status_[%user%]">[%user%]</label>
            </li>
        [% END %]
    </ul>
    </fieldset>
    <fieldset class="submit">
        <input type="submit" />
    </fieldset>
</form>

<h4>highlighted simple-form</h4>
<form class='simple-form highlight'>
    <fieldset>
        <ul>
        <li><label for="simple-form-highlighted-text">Something</label><input id="simple-form-highlighted-text" />
        </li>
        </ul>
    </fieldset>
    <fieldset class='submit'>
        <input type="submit" />
    </fieldset>
</form>

<h3>Buttons / Actions</h3>
<p>action-bar extends across the whole page:</p>
<div class='action-bar'>
    <input type="submit" value="Delete" />
    <input type="submit" value="Submit" />
</div>

<p>action-box displays a box surrounding the list (ul) of elements it contains:</p>
<p>Note: probably will be removed in favor of a consistently styled fieldset containing the submit button once we have all the markup fixed</p>
<div class='action-box'>
    <ul class='nostyle inner'>
        <li><input type="submit" value="Submit" />
        <li><input type="submit" value="Delete" />
    </ul>
</div>
<div class='clear-floats'></div>

<input type="submit" class="submit" />

<p>(consider merging the two into one consistent display?)</p>

<p>collapsible subheader</p>
<h3 class='subheader collapsible collapsed'><div class='collapse-button'>expand </div>Section Header 1</h3>
<h3 class='subheader collapsible expanded'><div class='collapse-button'>collapse </div>Section Header 2</h3>

<h3>Highlights</h3>
<div class='highlight-box'>
highlight-box: small boxes of content important enough to give focus to, but not warnings or errors. May also contain form elements that should be the focus of the page. <a href="#">Link</a> <a href="">Visited Link</a>

    <div class='inset-box'>
        Inset in a highlighted area
    </div>
</div>
<div class='info-box message-box'>
<h1 class='title'>info-box/message-box (title v1)</h1>
<div class='title'>info-box/message-box (title v2)</div>

<p>notes/tips? <a href="#">Link</a> <a href="">Visited Link</a></p>
</div>
<div class="warning-box message-box">
<h1 class='title'>warning-box/message-box (title v1)</h1>
<div class='title'>warning-box/message-box (title v2)</div>
<p>warning for what the user is viewing, such as adult content interstitials, or protected content pages. <a href="#">Link</a> <a href="">Visited Link</a></p>
</div>
<div class='error-box message-box'>
<h1 class='title'>error-box/message-box (title v1)</h1>
<div class='title'>error-box/message-box (title v2)</div>

<p>error message for user input. <a href="#">Link</a> <a href="">Visited Link</a></p>
</div>

<ul class='select-list'>
    <li>item 1</li>
    <li>item 2</li>
    <li class="selected">item 3</li>
</ul>

<p>.searchhighlight</p>
<p>Some search results with <span class='searchhighlight'>highlighted</span> text. <a href="#">A <span class='searchhighlight'>highlight</span>ed link</a> </p>

<h3>Other Basic HTML Elements</h3>

<h1>h1: automatically inserted as a page title on every page</h1>
<h2>h2</h2>
<h3>h3</h3>
<h4>h4</h4>
<h5>h5</h5>
<h6>h6</h6>

<ul><li>item 1</li><li>item 2</li></ul>
<ol><li>item 1</li><li>item 2</li></ol>
<dl><dt>term 1</dt><dd>definition 1</dd><dt>term 2</dt><dd>definition 2</dd></dl>
<small>small</small>
<large>large</large>
<del>del</del>
<ins>ins</ins>
<sub>sub</sub>
<sup>sup</sup>
<q>quoted text</q>
<cite>cite</cite>
<blockquote>blockquoted text</blockquote>
<code>code</code>

<a href="#">Link</a> <a href="">Visited Link</a>

<table>
<thead><th>Col 1</th><th>Col 2</th></thead>
<tbody>
<tr><td>row 1</td><td>row 1</td></tr>
<tr><td>row 2</td><td>row 2</td></tr>
<tr><td>row 3</td><td>row 3</td></tr>
<tr><td>row 4</td><td>row 4</td></tr>
</tbody>
</table>

<h3>Misc / accents</h3>
<p>.preview-image:</p>
<img width="100" height="100" class='preview-image' />

<p>comment table</p>
<table>
    <tr>
        <td class="cmtbar odd">cmtbar odd</td><td class="cmtbar odd screened">cmtbar odd screened</td><td class="cmtbar odd highlight">cmtbar odd highlight</td>
    </tr>
    <tr>
        <td class="cmtbar even">cmtbar even</td><td class="cmtbar even screened">cmtbar even screened</td><td class="cmtbar even highlight">cmtbar even highlight</td>
    </tr>
</table>

<p>.column-table: very rarely used (only in managing tags)</p>
<table class='column-table'>
<tbody>
<tr><th>label</th><td>etc</td></tr>
<tr><th>label</th><td>more etc</td></tr>
</table>
<p>.disabled</p>
<div class="disabled">disabled link or control</div>

<p>.read</p>
<div class="read">read text, probably faded</div>

<p>.detail</p>
<div class="detail">detail</div>

<p>.note (merge with detail?)</p>
<div class="note">note</div>

<p>.status-hint (for noting current status, and hint of actions to take)</p>
<div class="status-hint">status-hint</div>

<h2>User content</h2>
<div class='usercontent'>

<table>
<thead><th>Col 1</th><th>Col 2</th></thead>
<tbody>
<tr><td>row 1</td><td>row 1</td></tr>
<tr><td>row 2</td><td>row 2</td></tr>
<tr><td>row 3</td><td>row 3</td></tr>
<tr><td>row 4</td><td>row 4</td></tr>
</tbody>
</table>

</div>

<h2>Things that are lacking:</h2>
<ul>
<li>Some kind of consistent appearance for landing pages when viewing a security filter you're not allowed to see, or a tag that doesn't exist</li>
<li>Need to figure out what to do for pages like <a href="http://www.dream.fu/changepassword">change password</a>, where the highlight box looks awkward extending across the entire page</li>
</ul>
