// Style translations for widgets that sometimes show up in pages written for
// the old non-Foundation site skins. These rules should mostly use @extend
// rules to style these widgets in terms of existing classes from the modern
// site skins.

.action-box {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20px;

    .inner {
        background-color: $highlight-color;
        color: $highlight-text-color;
        border: 1px solid $highlight-border;
        display: block;
        padding: 5px;
        text-align: center;
    }
}

.highlight-box, .selected {
        background-color: $highlight-color;
        color: $highlight-text-color;
        border: 1px solid $highlight-border;
        padding: 0.5em;
}


.prop-list .prop-row {
    background-color: $table-bg;
}

 .prop-list .prop-row:nth-of-type(2n) {
    background-color: $table-even-row-bg;
}


.section-nav ul, .section-nav-separator {
    background-color: $highlight-color;
    border-color: $highlight-border;
    color: $highlight-text-color;
}

.section-nav li:hover {
    background-color: $soft-accent-color;
    color: $text-color;
    }

.section-nav li.on, .section-nav hr {
    background-color: $primary-color;
    }

.section-nav li.on a {
    color: $primary-text-color;
    }

.customize-subheader-row {
    background-color: $highlight-color;
    color: $highlight-text-color;
    }
