/*
Contains styles that are common to all skins and used across many pages
Should only @import other stylesheets
*/

$include-html-classes: true;
@import "foundation/foundation";

@import "skins/skin-colors", "skins/community-menu";
