/**
* Typography resets for entries and comments:
*/

$journal-content-font-size: 16px !default;

.entry, #comments, .reply-page-wrapper {
  // Intended behavior:
  // - Skins that don't specify otherwise will display entries and comments
  //   slightly smaller than Foundation's 16px default font size, which is a
  //   little intense for text-heavy pages.
  // - Skins that want big entries and comments (or smaller ones!) can set a rem
  //   or px font size for `.entry, #comments, .reply-page-wrapper`; everything
  //   inside those will scale.

  // In order to GET that intended behavior, we basically need to do a partial
  // CSS reset and make new em-based sizes for all the internal content on these
  // pages; Foundation sets individual rem font sizes for almost every element,
  // so you can't scale them by just setting a new size on the container.

  font-size: $journal-content-font-size;

  // The em-based sizes below are based on a combination of foundation/_settings
  // and the hardcoded defaults, depending on what we seem to be using.

  // Things we leave alone:
  // tables, and form elements other than textareas.

  // Things that are normal text:
  p, ul, ol, dl, label {
    font-size: 1em;
  }

  // Things that are a little askew from normal text:
  aside { font-size: 0.875em; }
  blockquote cite { font-size: 0.8125em; } // This Foundation-ism isn't commonly used in journal posts, and is here for completeness' sake.
  blockquote {
    margin: 1.25em;
  }

  // Things that are their own thing:
  h1 { font-size: 1.814em; }
  h2 { font-size: 1.618em; }
  h3 { font-size: 1.3055em; }
  h4 { font-size: 1.121em; }
  h5 { font-size: 1em; }
  h6 { font-size: .9em; }

  pre code {
    display: block;
  }

  // Specific to journal content:
  .comment-title {
    font-size: 1.3em;
  }

  .partial .comment-title {
    font-size: 1em;
    display: inline;
    font-weight: normal;
    font-family: inherit;
  }

  textarea {
    font-family: monospace;
    font-size: 16px;
  }

  // Foundation likes stretching selects to 100% for some reason
  select {
    width: auto;
  }

  .usercontent, .currents, .comment-title {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

}

/**
* Typography resets for icons page:
*/

.icon-container .icon-info {
  font-size: $journal-content-font-size;

  ul, li {
    font-size: $journal-content-font-size;
  }
}
