#canvas {
    padding-top: 1px;  /*to ensure margin*/

    &.vertical-nav {
        padding-bottom: 1px; /* to ensure margin*/
    }
}

#page {
    padding-top: 1px;  /*to ensure margin*/
}

// We want default margins for lists inside #content, but an ID selector is too
// powerful for a constantly-overridden default. An attribute selector has the
// same specificity as a class, so it's easy to override.
[id="content"] li {
    margin-left: 2em;
    margin-bottom: 0.75em;
}

// Case in point: override bottom spacing for success links
ul.successlinks li {
    margin-bottom: 0;
}

[id="content"] li ul, [id="content"] li ol {
    margin-top: 0.75em;
}

[id="content"] dd {
    margin-left: 1.5em;
}

/**
 * Temporary hack to hide account links / userpics on small screens
 */

// TODO: fix this along with account links
// should be revealable by a click rather than just gone
#header-userpic, #header-search {
    display: none;
}

@media #{$topbar-media-query} {
    #header-userpic, #header-search {
        display: inherit;
    }
}
