#canvas {
    padding-top: 1px;  /*to ensure margin*/

    &.vertical-nav {
        padding-bottom: 1px; /* to ensure margin*/
    }
}

#page {
    padding-top: 1px;  /*to ensure margin*/
}

/**
 * Temporary hack to hide account links / userpics on small screens
 */

// TODO: fix this along with account links
// should be revealable by a click rather than just gone
#header-userpic, #header-search {
    display: none;
}

@media #{$topbar-media-query} {
    #header-userpic, #header-search {
        display: inherit;
    }
}
