/**
* Site-wide skin-specific CSS colors
* Set the color variables in the scheme-specific CSS file
* Then @import _skin-colors.scss
*
* Only use mixins (@include), or variables
* so that we pick up the colors / settings from the site skin
* rather than hardcoding random colors here
*/

/**
 * Links and a pseudo link class
 */

$anchor-font-color-visited: shade( $anchor-font-color, 20% ) !default;
$page-title-color: $primary-color !default;
$border-color: $input-border-color !default;

a:visited {
    color: $anchor-font-color-visited;
}

a.button:visited {
    color: $primary-text-color;
}

a.button.secondary:visited {
    color: $text-color;
}

.ljuser a {
     color: $primary-color;
}

a:hover, a:active {
    color: $anchor-font-color-hover;
}

/**
 * Menu navigation
 */

nav {
    background-color: $topbar-bg;
}

/**
 * Header
 */

h1 {
    color: $page-title-color;
}

// icon fonts
.fi-icon:hover, button:hover .fi-icon,
.fi-icon:focus, button:focus .fi-icon {
    color: $primary-color;
}

// forms
@import "skins/form-elements";

// components
$queue-font-color:     $form-font-color !default;
$queue-bg-color:       $form-bg-color !default;

.queue-item {
    background-color: $queue-bg-color;
    color: $queue-font-color;
}

// miscellaneous active elements
$global-active-bg:     $primary-color !default;
$global-active-font-color: $primary-text-color !default;
a.active {
    background-color: $global-active-bg;
    color: $global-active-font-color;

    & a {
        color: $global-active-font-color;

        &:hover {
            background-color: $global-active-font-color;
            color: $global-active-bg;
        }
    }
}

.th.active {
    border-color: $global-active-bg;
}

// color-holding classes
.border {
    border: 1px solid $border-color;
}

// autocomplete
.autocomplete-container {
    background-color: $input-bg-color;

    &.focus {
        background-color: $input-focus-bg-color;
    }
}

.token {
    background-color: $input-bg-color;
    color: $primary-color;
    border-color: $secondary-button-border-color;

    &:hover {
        border-color: $primary-color;
    }
}

// replacement colors for jquery-ui elements
@import "skins/jquery-ui-theme";
