/* allow hidden skip links */
#skip a, #skip a:hover, #skip a:visited
{
    @include element-invisible();
    padding: 0.5em 1em;
}

#skip a:active, #skip a:focus
{
    position:fixed;
    top:.25em;
    left:.25em;
    clip: auto;
    width:auto;
    height:auto;
    z-index: 500;
    font-weight: bold;
    color: $topbar-dropdown-link-color;
    background-color: $topbar-dropdown-link-bg;
}