/**
* Site-wide skin-specific CSS colors
* Set the color variables in the scheme-specific CSS file
* Then @import _skin-colors.scss
*
* Only use mixins (@include), or variables
* so that we pick up the colors / settings from the site skin
* rather than hardcoding random colors here
*/

/**
 * Links and a pseudo link class
 */

$anchor-font-color-visited: shade( $anchor-font-color, 20% ) !default;
$page-title-color: $primary-color !default;

a:visited {
    color: $anchor-font-color-visited;
}

a.button:visited {
    color: $primary-text-color;
}

a.button.secondary:visited {
    color: $text-color;
}

.ljuser a {
     color: $primary-color;
}

a:hover, a:active {
    color: $anchor-font-color-hover;
}

/**
 * Menu navigation
 */

nav {
    background-color: $topbar-bg;
}

/**
 * Header
 */

h1 {
    color: $page-title-color;
}

// forms
@import "skins/form-elements";

// components
$queue-font-color:     $form-font-color !default;
$queue-bg-color:       $form-bg-color !default;

.queue-item {
    background-color: $queue-bg-color;
    color: $queue-font-color;
}
