// The Lynx skin deliberately does not look or act like a proper site skin. It
// should defer to browser default styles wherever possible.

* {
  box-sizing: border-box;
}

@import "foundation/foundation_minimal";
// ^^ used for pages that need foundation features but should never LOOK like
// foundation.

// Color variables required by compatibility-styles:
$highlight-color: unset;
$highlight-text-color: unset;
$highlight-link-color: unset;
$highlight-border: unset;
@import "skins/compatibility-styles";

// Color variables required by entry-styles:
$soft-accent-color: unset;
$strong-accent-color: unset;
$secondary-color-alternate: #c0c0c0;
$secondary-color: #e2e2e2;
$screened-comment-bg: #C29B9B; // old Tropo screened comment color, why not.
@import "skins/entry-styles";
@import "skins/icons-page";

ul.pagination, ul.pages {
    list-style: none;
    padding-left: 0;

    .current a{
        color: $highlight-text-color;
        text-decoration: none;
    }
}

// Hacks: isolated important bits from files we really don't want to import.

// _form-elements.scss:
label.hidden {
  @include element-invisible();
}

// _jquery-ui-theme.scss:
.ui-menu, .ui-widget {
    background-color: #fff;
    border: 1px solid;

    .ui-state-focus {
        border: 1px solid;
    }
}

// foundation/components/_panels.scss:
.panel {
    margin-bottom: 1.25rem;
}

// _skin-colors.scss:
.border {
    border: 1px solid;
}
.picker__holder {
    background-color: #fff;
}
.picker__day.picker__day--selected,
.picker__day--infocus:hover,
.picker__day--outfocus:hover,
.picker__day--selected:hover,
.picker__list-item--highlighted,
.picker__list-item--selected,
.picker__list-item:hover,
.picker__list-item--selected:hover {
    border: 1px solid;
}

.session-msg-box .invisible {
    position: relative;
    left: 0;
}