
// very strong color, for emphasis. use sparingly
$strong-accent-color: #E9E9E0;


// foundation global variables
$body-bg: #111111 url('/img/gradation/blackfade.png') top repeat-x;

$body-font-color: #e9e9e0;
$body-font-family: Arial, Verdana, sans-serif;
$base-line-height: 1.5;

// background colors for various components
$primary-color: #999966;
$secondary-color: #666666;
$alert-color: #5a2d2e;
$success-color: #2B5229;

// foundation type variables
// We use these to control header font styles
$header-font-family:                   Arial, sans-serif;
$header-font-color:                    $strong-accent-color;

// override colors based on $header-font-color
$small-font-color:                     $body-font-color;
$code-color:                           lighten( $body-font-color, 30% );

// We use these to style anchors
$anchor-text-decoration:               underline;
$anchor-font-color:                    #cccc99;
$anchor-font-color-visited:            shade( $anchor-font-color, 20% );
$anchor-font-color-hover:              lighten( $anchor-font-color, 30% );

// navigation
$topbar-bg:                            #222222 !default;
$topbar-link-weight:                   normal;
$topbar-link-color:                    #ffffff;
$topbar-link-bg-hover:                 #444444;
$topbar-link-bg-active:                $topbar-link-bg-hover;

$topbar-dropdown-bg:                   $topbar-bg;
$topbar-dropdown-link-color:           #ffffff;
$topbar-dropdown-link-bg:              #333333;

$topbar-menu-link-color:               $topbar-link-color;
$topbar-menu-icon-color:               $topbar-link-color;

// form elements
$input-bg-color:                       #222222;
$input-focus-bg-color:                 lighten( $input-bg-color, 2% );
$input-focus-border-color:             lighten( $input-bg-color, 40% );
$input-font-color:                     #ffffff;
$input-border-color:                   #888888;

$legend-bg:                            $input-bg-color;
$fieldset-border-color:                #888888;

$input-prefix-bg:                      lighten( $input-bg-color, 50% );
$input-prefix-font-color:              $input-font-color;

$include-html-classes: true;
@import "foundation";

// gradation-specific variables
$masthead-height: 7.5em;

@import "schemes/skin-colors", "schemes/nav";

a:active, a:hover {
    text-decoration: none;
}

ul { list-style: circle; }

/**
 * Header
 */

#masthead {
    position: absolute;
    top: 10px;
    right: 1em;

    #sitename {
        font-family: "Century Gothic", Verdana, sans-serif;
        font-weight: bold;
        font-size: 175%;

        a {
            color: $strong-accent-color;
        }
    }
}

#account-links {
    a, label {
        color: $strong-accent-color;
    }
}

/**
 * #content
 */

#content {
    @include grid-row(false);
    padding-top: 1.5em;
}

@import "schemes/page-layout-hacks";

@media #{$topbar-media-query} {
    #page {
        margin-bottom: 2 * $base-line-height;
    }
}

// /**
//  * Footer
//  */
// footer {
//     margin: 1em;
//     text-align: center;
//     border-top: 1px solid #555555;
//     clear: both;
//     }
//     footer ul { list-style: none;
//         margin: .25em 0;
//         margin-left: 0;
//         padding-left: 0;
//         }
//     footer li { display: inline; }
//     footer p { margin: .25em 0;
//         padding: 0;
//         font-size: small;
//         color: #999999;
//         }

