$include-html-classes: false;
@import "foundation/variables", "foundation/components/global", "foundation/components/buttons";

.preview {
  max-height: 75px;
  display: inline-block;
  margin: 10px 5px 0 0;
}

.drop_zone {
  filter: alpha(opacity=50);
  opacity: 0.2;
  font-size: 6em;
  padding: 20px;
  border: 3px dashed;
  text-align: center;
}

.upload-form output {
  margin-top: 1.5em;
}

.upload-form output ul {
  list-style: none;
}

.upload-form output li.row {
  padding-top: 2em;
}

.upload-form fieldset {
  border: none;
}

.image-preview canvas {
  margin-bottom: 1em;
}

// TODO: this should be in lj_base-app.css
.submit {
  @include button;
}