[%# views/entry/login.tt

Login modal for when someone goes to /entry/new while logged out

Authors:
    Afuna <coder.dw@afunamatata.com>

Copyright (c) 2015 by Dreamwidth Studios, LLC.

This program is free software; you may redistribute it and/or modify it under
the same terms as Perl itself.  For a copy of the license, please reference
'perldoc perlartistic' or 'perldoc perlgpl'.
%]
<p><a href="[% site.root %]/login?returnto=%2Fentry%2Fnew">Sign in to write a journal entry.</a></p>
