.pagination a {
    text-decoration: none;
}

.pagination-wrapper { 
	margin: 1em auto;
    text-align: center;
}

ul.pagination {
    display: inline-block;
}

ul.pagination li a {
    font-weight:bold;
}

ul.pagination li.current {
    a:focus, a:visted {
        color: $pagination-link-current-font-color;
    }
}