.comment .comment-replies {
    margin-left: 30px;
}
.comment .comment-header {
    margin-left: 10px;
    margin-right: 10px;
}
.comment .comment-userpic, .entry .entry-userpic {
    float: right;
    margin: 5px;
    text-align: right;
}
.entry-userpic {
    z-index: 1;
}
.comment .comment-content, .entry .entry-content, .entry .entry-body {
    clear: none;
}
.comment .comment-content {
    padding-top: 20px;
}
.metadata {
    margin-bottom: 10px;
}
.ljtags {
    margin-top: 10px;
    margin-bottom: 10px;
}
.poster {
    text-align: center;
    margin: 2px 0 0 0;
    padding: 0;
}
#ad-5linkunit {
    clear: both;
}
#ad-leaderboard {
    margin-bottom: 10px;
}
#commenttext, #subject {
    width: 90%;
}


/* show userpics */

.entry-userpic,
.comment-userpic,
div.entry-userpic,
div.comment-userpic,
div.entry-userpic img,
div.comment-userpic img,
.layout-two-column-right .entry-userpic,
.layout-two-column-right .comment-userpic,
.entry-userpic img,
.comment-userpic img {
    display: inline;
    position: static;
    top: 0;
    left: 0;
    visibility: visible;
}

.ljuser img {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}

body.layout-three-column #beta img,
body.layout-two-column-left #beta img,
body.layout-one-column #alpha img,
body.layout-two-column-right #alpha img {
    margin: 0;
    padding: 0;
    border: none;
    float: none;
    background: none;
}
