[%#
This code was forked from the LiveJournal project owned and operated
by Live Journal, Inc. The code has been modified and expanded by
Dreamwidth Studios, LLC. These files were originally licensed under
the terms of the license supplied by Live Journal, Inc, which can be
found at:

http://code.livejournal.org/trac/livejournal/browser/trunk/LICENSE-LiveJournal.txt

In accordance with the original license, this code and all its
modifications are provided under the GNU General Public License.
A copy of that license is included in the repository LICENSE file.
%]
[%- sections.title = title -%]
[%- sections.head = headextra -%]
[%- CALL dw.active_resource_group( 'foundation' ) -%]

[% errors_html = errors.size ? '<div class="alert-box alert">' _ errors.join('<br />') _ '</div>' : '' %]
[% errors_html %]
<form action="[% dw.create_url('/customize/', keep_args => []) %]" method="get" class="theme-switcher">[% authas_html %]</form>
[% IF widget_authas %]<input type="hidden" name="authas" value="[% widget_authas %]" id="_widget_authas" />[% END %]
[% IF community_linkbar %]<p class="intro">[% community_linkbar %]</p>[% END %]
<p>[% IF u.is_community %][% dw.ml('.setstyle.comm') %][% ELSE %][% dw.ml('.setstyle.user') %][% END %]
[% '.setsiteskin' | ml( aopts = "href='/manage/settings/?cat=display#skin'" ) %]</p>
<div class="theme-current pkg">[% current_theme %]</div>
<div class="theme-titles pkg">[% journal_titles %]</div><br />
<div class="theme-selector-wrapper pkg">[% theme_nav %]</div>
<a name="layout"></a><div class="layout-selector-wrapper pkg">[% layout_chooser %]</div>
<form method="POST"><div class="theme-customize">[% dw.form_auth %]
[% form.submit(name = 'nextpage', value = dw.ml('.btn.nextpage'), class = 'submit') %]
</div></form>
